<div class="bg">
  <!-- Header Left -->
  <div class="bg__scan bg__scan--hl"></div>
  <div class="bg__scan bg__scan--hlc"></div>
  <!-- Header Right -->
  <div class="bg__scan bg__scan--hr"></div>
  <div class="bg__scan bg__scan--hrс"></div>
  <!-- Top Left -->
  <div class="bg__scan bg__scan--tl"></div>
  <!-- Top Right -->
  <div class="bg__scan bg__scan--tr"></div>
  <!-- Second Left -->
  <div class="bg__scan bg__scan--secl"></div>
  <!-- Second Right -->
  <div class="bg__scan bg__scan--secr"></div>

  <!-- Bottom Left -->
  <div class="bg__scan bg__scan--bl"></div>
  <!-- Bottom Right -->
  <div class="bg__scan bg__scan--br"></div>
</div>
