<section class="section scan-process-hero">
    <div class="container">
        <h2> ПРОЦЕС 3D СКАНУВАННЯ </h2>
        <ul list>
            <li>
                <h3>Підготовка деталі до сканування</h3>
            </li>
            <li>
                <h3>Створення сканів і їх обробка</h3>
            </li>
            <li>
                <h3>Перетворення reverse engineering</h3>
            </li>
            <li>
                <h3>Підготовка моделі до друку</h3>
            </li>
        
        
        </ul>

    </div>

</section>