@import './emoji';
body {
  font-family: $primary-font;
  background-color: $primary-bg;
}
h1,
h2,
h3,
h4,
ul,
li,
a,
p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
form {
  margin-top: 0;
  margin-block-end: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  
  @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: 767px) {
    width: 320px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    width: 768px;

    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: $desktop) {
    width: 1440px;
    padding-left: 189px;
    padding-right: 189px;
  }

  margin: 0px auto;
}

.section {
  &__title {
    @include font-source-sans(24px, 30px, 700);

    @include respond-from-min($tablet) {
      @include font-source-sans(36px, 45px);
    }

    @include respond-from-min($desktop) {
      @include font-source-sans(48px, 60px);
    }

    color: $secondary-text;
    text-transform: uppercase;
  }

  &__title-subsection {
    @include font-source-sans(18px, 23px, 700);

    @include respond-from-min($tablet) {
      @include font-source-sans(24px, 30px);
    }

    @include respond-from-min($desktop) {
      @include font-source-sans(36px, 45px);
    }

    color: $secondary-text;
    text-transform: uppercase;
  }

  &__title--position {
    @include respond-to-max($tablet) {
      margin-top: 12px;
    }

    @include respond-from-min($tablet) {
      margin-top: 24px;
    }
  }

  &__text {
    @include font-source-sans(16px, 20px, 300);

    @include respond-from-min($desktop) {
      @include font-source-sans(18px, 23px);
    }

    color: $primary-text;
  }

  @include respond-to-max($desktop) {
    &__text--position {
      margin-top: 16px;
    }
  }

  @include respond-from-min($desktop) {
    &__text--position-dekstop {
      margin-top: 24px;
    }
  }
}
