html {
  // Для плавного переходу
  scroll-behavior: smooth;
}
body {
  font-family: $primary-font;
  background-color: $primary-bg;

  // SIZES
  position: relative;
  width: $mobile;
  margin-left: auto;
  margin-right: auto;

  @include respond-from-min($tablet) {
    width: $tablet;
  }

  @include respond-from-min($desktop) {
    width: $desktop;
  }
}
h1,
h2,
h3,
h4,
ul,
li,
a,
p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
form {
  margin-top: 0;
  margin-block-end: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;

  @media screen and (max-width: $mobile-max) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: $mobile-max) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    width: $tablet;

    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: 189px;
    padding-right: 189px;
  }

  margin: 0px auto;
}

.section {
  &__title {
    @include font-source-sans(24px, 30px, 700);

    @include respond-from-min($tablet) {
      @include font-source-sans(36px, 45px);
    }

    @include respond-from-min($desktop) {
      @include font-source-sans(48px, 60px);
    }

    color: $secondary-text;
    text-transform: uppercase;
  }

  &__title-subsection {
    @include font-source-sans(18px, 23px, 700);

    @include respond-from-min($tablet) {
      @include font-source-sans(24px, 30px);
    }

    @include respond-from-min($desktop) {
      @include font-source-sans(36px, 45px);
    }

    color: $secondary-text;
    text-transform: uppercase;
  }

  // @include respond-from-min($desktop) {
  //   &__title-subsection--position {
  //     // margin-top: 30px;
  //   }
  // }

  // &__title--position {
  //   @include respond-to-max($tablet-max) {
  //     // margin-top: 12px;
  //   }

  //   @include respond-from-min($tablet) {
  //     // margin-top: 24px;
  //   }
  // }

  &__text {
    @include font-source-sans(16px, 20px, 300);

    @include respond-from-min($desktop) {
      @include font-source-sans(18px, 23px);
    }

    color: $primary-text;
  }

  @include respond-to-max($tablet-max) {
    &__text--position {
      margin-bottom: 16px;
    }
  }

  @include respond-from-min($desktop) {
    &__text--position-dekstop {
      margin-bottom: 24px;
    }
  }
}
