// Caviar Dreams
// Menu font; weight 400
@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/CaviarDreams.otf'),
    url('../fonts/CaviarDreams.woff2') format('woff2'),
    url('../fonts/CaviarDreams.woff') format('woff'),
    url('../fonts/CaviarDreams.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
// Lang menu: weight 700
@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/CaviarDreams_Bold.otf'),
    url('../fonts/CaviarDreams_Bold.woff2') format('woff2'),
    url('../fonts/CaviarDreams_Bold.woff') format('woff'),
    url('../fonts/CaviarDreams_Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// IBM Plex
// Primary font; weight 300
// @font-face {
//   font-family: 'IBM Plex Sans';
//   src: url('../fonts/ibmplexsans-light-webfont.woff2') format('woff2'),
//     url('../fonts/ibmplexsans-light-webfont.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// // secondary font; weight 400
// @font-face {
//   font-family: 'IBM Plex Sans';
//   src: url('../fonts/ibmplexsans-regular-webfont.woff2') format('woff2'),
//     url('../fonts/ibmplexsans-regular-webfont.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// // mobile menu; weight 500
// @font-face {
//   font-family: 'IBM Plex Sans';
//   src: url('../fonts/ibmplexsans-medium-webfont.woff2') format('woff2'),
//     url('../fonts/ibmplexsans-medium-webfont.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// // title font; weight 700
// @font-face {
//   font-family: 'IBM Plex Sans';
//   src: url('../fonts/ibmplexsans-bold-webfont.woff2') format('woff2'),
//     url('../fonts/ibmplexsans-bold-webfont.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }
