// Colors
$primary-bg: #fff;
$secondary-bg: #f5f5fa;
$primary-text: #2b2b2b;
$secondary-text: #487996;
$accent: #008cef;

$var-animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
$var-animation-duration: 250ms;

$placeholder-form-color: #cdcdcd;

// Background figures
$circle: 50%;
$round-left: 0 50% 50% 0;
$round-right: 50% 0 0 50%;
$corner-tl: 50% 0 0 0;
$corner-tr: 0 50% 0 0;
$corner-bl: 0 0 0 50%;
$corner-br: 0 0 50% 0;
$leaf-tablet: 35% 0;
$leaf-desktop: 50% 0;

