// Colors
$primary-bg: #fff;
$secondary-bg: #f5f5fa;
$primary-text: #2b2b2b;
$secondary-text: #487996;
$accent: #008cef;

$var-animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
$var-animation-duration: 250ms;

$placeholder-form-color: #cdcdcd;

