<h3 class="">ТЕЛЕФОНИ</h3>
<ul class="">
    <li class="">
       
        <ul class="">
            <li class="">
                <a class="" href="tel:+380957384551"
                    >+38 (095) -73-84-551</a
                >
            </li>
            <li class="">
                <a class="" href="tel:+380980025235"
                    >+38 (098) -00-25-235</a
                >
            </li>
        </ul>
    </li>
    <li class="">
        <h3 class="">Email</h3>
        <a class="" href="mailto:3dfreedom.info@gmail.com"
            >3dfreedom.info@gmail.com</a
        >
    </li>
    <li class="">
        <h3 class="">РОБОЧИЙ ЧАС</h3>
        <ul class="">
            <li class="">
                <p class="">Пн-пт:</p>
                <p class="">з 8:00 до 19:00</p>
            </li>
            <li class="">
                <p class="">Сб, Нд:</p>
                <p class="">з 10:00 до 17:00</p>
            </li>
        </ul>
    </li>
</ul>