<ul class="contacts contacts--position">
  <li class="contacts__item contacts-page__item">
    <h3 class="section__title-subsection contacts__title-subsection contacts-margin__section">
      ТЕЛЕФОНИ
    </h3>
    <ul class="address-tel">
      <li class="address-tel__item">
        <a class="address-tel__link section__text" href="tel:+380957384551">+38 (095) -73-84-551</a>
      </li>
      <li class="address-tel__item">
        <a class="address-tel__link section__text" href="tel:+380980025235">+38 (098) -00-25-235</a>
      </li>
    </ul>
  </li>

  <li class="contacts__item contacts-page__item">
    <h3 class="section__title-subsection contacts__title-subsection contacts-margin__section">
      Email
    </h3>
    <a class="contacts__link section__text" href="mailto:3dfreedom.info@gmail.com"
      >3dfreedom.info@gmail.com</a
    >
  </li>

  <li class="contacts__item contacts-page__item">
    <h3 class="section__title-subsection contacts__title-subsection contacts-margin__section">
      РОБОЧИЙ ЧАС
    </h3>
    <ul class="work-time">
      <li class="work-time__item work-time__item--contacts">
        <p class="section__text section__text--contacts">Пн-пт:</p>
        <p class="section__text section__text--contacts">З 8:00 До 19:00</p>
      </li>
      <li class="work-time__item work-time__item--contacts">
        <p class="section__text section__text--contacts">Сб, Нд:</p>
        <p class="section__text section__text--contacts">З 10:00 До 17:00</p>
      </li>
    </ul>
  </li>
</ul>
