<h3 class="form-title">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>
<form class="">
  

    <label class="" for="name">Ім’я</label>
    <input class="" id="name" name="name" type="text" />

    <label class="" for="fild_mail">Email</label>
    <input class="" id="fild_mail" type="email" />
    <label class="" for="comment">Повідомлення</label>
    <div class="">
        <textarea class="" name="comment" id="comment" cols="30" rows="10"></textarea>
    </div>
    <p class="">
        *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
    </p>
    <button class="" type="submit">ВІДПРАВИТИ</button>
</form>