<form class="form take-order__section">
    <h3 class="section__title-subsection">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>

    <label class="form__field form__field--position-first">
        <input class="form__input" name="name" type="text" />
        <span class="form__label form__label--position">Ім’я</span>
    </label>

    <label class="form__field form__field--position">
        <input class="form__input" name="fild_mail" type="email" />
        <span class="form__label form__label--position">Email</span>
    </label>

    

       

    <label class="form__field form__field--position-textatea">
        <textarea class="form__textarea" name="comment" cols="30" rows="10"></textarea>
        <span class="form__label form__label--position-textarea">Повідомлення</span>
    </label>

    <p class="form__note section__text">
        *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
    </p>
    <button class="button button__form button__form--position" type="submit">ВІДПРАВИТИ</button>
</form>
