

<div class="take-order_hero take-order__section">
    <h2 class="section__title take-order__title">КОНТАКТИ</h2>
    <div thumb-wrap>
        <iframe class="contacts__video" width="280" height="171" 
        src="https://www.youtube.com/embed/EnOOdBECOsg" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </div>
    <p class="section__text section__text--position">
        Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим процесом не на десяток хвилин
    </p>
    <p class="section__text section__text--position section__text--position-dekstop">
        Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D друку і просто помилуватися красою цього процесу.

    </p>
    <p class="section__text section__text--position section__text--position-dekstop">Приємного перегляду!
        <svg width="22px" height="22px">
            <use href="./images/svg/sprites.svg#wink"></use>
          </svg>
    </p>
    
</div>