<div class="take-order__container take-order__container--position">
  <ul class="contacts">
    <li class="contacts__item">
      <h3 class="section__title-subsection contacts__title--position">ТЕЛЕФОНИ</h3>
      <ul class="address-tel">
        <li class="address-tel__item">
          <a class="address-tel__link section__text" href="tel:+380957384551"
            >+38 (095) -73-84-551</a
          >
        </li>
        <li class="address-tel__item">
          <a class="address-tel__link section__text" href="tel:+380980025235"
            >+38 (098) -00-25-235</a
          >
        </li>
      </ul>
    </li>
    <li class="contacts__item">
      <h3 class="section__title-subsection contacts__title-subsection contacts__title--position">
        Email
      </h3>
      <a class="contacts__link section__text" href="mailto:3dfreedom.info@gmail.com"
        >3dfreedom.info@gmail.com</a
      >
    </li>
    <li class="contacts__item">
      <h3
        class="
          section__title-subsection section__title-subsection--position
          contacts__title--position
        "
      >
        Робочий час
      </h3>
      <ul class="work-time">
        <li class="work-time__item">
          <p class="section__text work-time__text">Пн-пт:</p>
          <p class="section__text work-time__text">З 8:00 До 19:00</p>
        </li>
        <li class="work-time__item">
          <p class="section__text work-time__text">Сб, Нд:</p>
          <p class="section__text work-time__text">З 10:00 До 17:00</p>
        </li>
      </ul>
    </li>
  </ul>

  <div class="image-decor">
    <picture>
      <source
        srcset="
          ./images/order/decor/order-galery-bg.webp    1x,
          ./images/order/decor/order-galery-bg@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/order/decor/order-galery-bg.jpg    1x,
          ./images/order/decor/order-galery-bg@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <img src="./images/order/decor/order-galery-bg.jpg" alt="" />
    </picture>
    <div class="image-decor__container">
      <div class="image-decor__blok image-decor__blok-1"></div>
      <div class="image-decor__blok image-decor__blok-2"></div>
      <div class="image-decor__blok image-decor__blok-3"></div>
      <div class="image-decor__blok image-decor__blok-4"></div>
      <div class="image-decor__blok image-decor__blok-5"></div>
      <div class="image-decor__blok image-decor__blok-6"></div>
    </div>
  </div>
</div>
