<ul class="take-order-address take-order__section-address">
    <li class="take-order-address__item">
        <h3 class="section__title-subsection">ТЕЛЕФОНИ</h3>
        <ul class="address-tel">
            <li class="address-tel__item">
                <a class="address-tel__link section__text" href="tel:+380957384551"
                    >+38 (095) -73-84-551</a
                >
            </li>
            <li class="address-tel__item">
                <a class="address-tel__link section__text" href="tel:+380980025235"
                    >+38 (098) -00-25-235</a
                >
            </li>
        </ul>
    </li>
    <li class="take-order-address__item">
        <h3 class="section__title-subsection take-order-address__title-subsection">Email</h3>
        <a class="take-order-address__link section__text" href="mailto:3dfreedom.info@gmail.com"
            >3dfreedom.info@gmail.com</a
        >
    </li>
    <li class="take-order-address__item">
        <h3 class="section__title-subsection">Робочий час</h3>
        <ul class="work-time">
            <li class="work-time__item">
                <p class="section__text">Пн-пт:</p>
                <p class="section__text">з 8:00 до 19:00</p>
            </li>
            <li class="work-time__item">
                <p class="section__text">Сб, Нд:</p>
                <p class="section__text">з 10:00 до 17:00</p>
            </li>
        </ul>
    </li>
</ul>
