<form class="form take-order__section-form" method="post" enctype="multipart/form-data">
  <h3 class="section__title-subsection form__title">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>

  <label class="form__field form__field--position-first">
    <input class="form__input" name="name" type="text" placeholder=" " />
    <span class="form__label form__label-input form__label--position">Ім’я</span>
  </label>

  <label class="form__field form__field--position">
    <input class="form__input" name="fild_mail" type="email" placeholder=" " />
    <span class="form__label form__label-input form__label--position">Email</span>
  </label>

  <div class="form__field form__field--position-select">
    <!-- <select class="form__select" name="type_of_plastic" placeholder=" "></select> -->
    <div class="select" name="type_of_plastic">
      <div class="select__heder">
        <span class="select__current"></span>
        <div class="select__icon">
          <svg class="select__icon-expand">
            <use href="./images/svg/sprites.svg#form-expand"></use>
          </svg>
          <svg class="select__icon-collapse select__icon-none">
            <use href="./images/svg/sprites.svg#form-collapse"></use>
          </svg>
        </div>
      </div>
      <div class="select__boody">
        <div class="select__item"></div>
      </div>
    </div>
    <span class="form__label form__label--position">Види пластика</span>
  </div>

  <div class="form__field form__field--position-select">
    <!-- <select class="form__select" name="print_quality" placeholder="fgdfgdfg">
      <option hidden value=""></option>
      <option value="300">300 мікрон</option>
      <option value="200">200 мікрон</option>
      <option value="100">100 мікрон</option>
      <option value="0">Труднощі у виборі - ми допоможемо</option>
    </select> -->

    <div class="select" name="print_quality">
      <div class="select__heder">
        <span class="select__current"></span>
        <div class="select__icon">
          <svg class="select__icon-expand">
            <use href="./images/svg/sprites.svg#form-expand"></use>
          </svg>
          <svg class="select__icon-collapse select__icon-none">
            <use href="./images/svg/sprites.svg#form-collapse"></use>
          </svg>
        </div>
      </div>
      <div class="select__boody">
        <div class="select__item">300 мікрон</div>
        <div class="select__item">200 мікрон</div>
        <div class="select__item">100 мікрон</div>
        <div class="select__item">Труднощі у виборі - ми допоможемо</div>
      </div>
    </div>

    <span class="form__label form__label--position">Якість друку</span>
  </div>

  <div class="form__field form__field--position-select">
    <!-- <select class="form__select" name="print_color" placeholder=" "></select> -->

    <div class="select" name="print_color">
      <div class="select__heder">
        <span class="select__current"></span>
        <div class="select__icon">
          <svg class="select__icon-expand">
            <use href="./images/svg/sprites.svg#form-expand"></use>
          </svg>
          <svg class="select__icon-collapse select__icon-none">
            <use href="./images/svg/sprites.svg#form-collapse"></use>
          </svg>
        </div>
      </div>
      <div class="select__boody">
        <div class="select__item"></div>
      </div>
    </div>

    <span class="form__label form__label--position">Колір</span>
  </div>
  <div class="form__file-selection">
    <label class="form__field form__field--position-textatea">
      <textarea
        class="form__textarea"
        name="comment"
        cols="30"
        rows="10"
        placeholder="Залишіть своє повідомлення"
      ></textarea>
      <span class="form__label form__label--position-textarea">Повідомлення</span>
    </label>
    <label class="form__label-file">
      <svg class="form__paperclip">
        <use href="./images/svg/sprites.svg#paperclip"></use>
      </svg>
      <input type="file" name="photo" multiple accept="image/*,image/jpeg" hidden />
    </label>
  </div>
  <p class="form__note section__text">
    * Прикріпіть зображення / креслення / STL / Obj / CAD-модель
  </p>
  <button class="button button__form button__form--position" type="submit">ВІДПРАВИТИ</button>
</form>
