<form class="take-order-form take-order__section">
    <h3 class="section__title-subsection">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>

    <label class="take-order-form__label" for="name">Ім’я</label>
    <input id="name" name="name" type="text" />

    <label class="take-order-form__label" for="fild_mail">Email</label>
    <input id="fild_mail" type="email" />

    <label class="take-order-form__label" for="type_of_plastic">Види пластика</label>
    <select id="type_of_plastic" name="type_of_plastic">

    <label class="take-order-form__label" for="print_quality">Якість друку</label>
    <select id="print_quality" name="print_quality">

    <label class="take-order-form__label" for="print_color">Колір</label>
    <select id="print_color" name="print_color">

    <label class="take-order-form__label" for="comment"></label>
    <textarea name="comment" id="comment" cols="30" rows="10"></textarea>

    <button class="button button--form" type="submit">ВІДПРАВИТИ</button>
</form>
