<div class="take-order_hero take-order__section">
    <h2 class="section__title take-order__title">ЗРОБИТИ ЗАМОВЛЕННЯ</h2>
    <div class="take-order-hero__image">
        <img src="./images/order/order-galery-image-mob.jpg" alt="графическое оформление" />
    </div>
    <p class="section__text section__text--position">
        На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.
    </p>
    <p class="section__text section__text--position section__text--position-dekstop">
        Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі
        ваші запитання.
    </p>
</div>
