<div class="take-order-hero take-order__section">
  <h2 class="section__title take-order__title">зробити ЗАМОВЛЕННЯ</h2>
  <div class="take-order-hero__content">
    <div class="take-order-hero__image">
      <picture>
        <source
          srcset="
            ./images/order/order-galery-image.webp    1x,
            ./images/order/order-galery-image@2x.webp 2x
          "
          media="(min-width: 1444px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/order/order-galery-image.jpg    1x,
            ./images/order/order-galery-image@2x.jpg 2x
          "
          media="(min-width: 1444px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/order/half-order-galery-image-tab.webp    1x,
            ./images/order/half-order-galery-image-tab@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/order/half-order-galery-image-tab.jpg    1x,
            ./images/order/half-order-galery-image-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/order/order-galery-image-mob.webp    1x,
            ./images/order/order-galery-image-mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/order/order-galery-image-mob.jpg    1x,
            ./images/order/order-galery-image-mob@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img src="./images/order/order-galery-image-mob.jpg" alt="3-Д печать" />
      </picture>
    </div>
    <div class="take-order-hero__text">
      <div>
        <p
          class="
            section__text section__text--position section__text--position-dekstop
            take-order-hero__sub-text
          "
        >
          На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.
        </p>
        <p class="section__text">
          Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі
          ваші запитання.
        </p>
      </div>
      <ul class="take-order-hero__text-image">
        <li class="take-order-hero__image-1">
          <picture>
            <source
              srcset="
                ./images/order/thumbs/01-galery-image.webp    1x,
                ./images/order/thumbs/01-galery-image@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/order/thumbs/01-galery-image.jpg    1x,
                ./images/order/thumbs/01-galery-image@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img src="./images/order/thumbs/01-galery-image.jpg" alt="" />
          </picture>
        </li>
        <li class="take-order-hero__image-2">
          <picture>
            <source
              srcset="
                ./images/order/thumbs/02-galery-image.webp    1x,
                ./images/order/thumbs/02-galery-image@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/order/thumbs/02-galery-image.jpg    1x,
                ./images/order/thumbs/02-galery-image@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img src="./images/order/thumbs/02-galery-image.jpg" alt="" />
          </picture>
        </li>
        <li class="take-order-hero__image-3">
          <picture>
            <source
              srcset="
                ./images/order/thumbs/03-galery-image.webp    1x,
                ./images/order/thumbs/03-galery-image@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/order/thumbs/03-galery-image.jpg    1x,
                ./images/order/thumbs/03-galery-image@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img src="./images/order/thumbs/03-galery-image.jpg" alt="" />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</div>
