<section>
  <a href="./index.html">
    <img src="./images/logo/3DFREEDOM.jpg" alt="logo 3DFREEDOM">
  </a>

  <nav>
    <ul>
      <li>
        <a href="">Головна</a>
      </li>

      <li>
        <a href="">3D Моделювання</a>
      </li>

      <li>
        <a href="">3D Сканування</a>
      </li>

      <li>
        <a href="">3D Друк</a>
      </li>

      <li>
        <a href="">Замовити</a>
      </li>

      <li>
        <a href="">Контакти</a>
      </li>
    </ul>
  </nav>

  <address>
    <ul>
      <li>
        <a href="#Instagram" target="_blank" rel="noopener noreferrer">Instagram</a>
      </li>

      <li>
        <a href="#YouTube" target="_blank" rel="noopener noreferrer">YouTube</a>
      </li>

      <li>
        <a href="#Facebook" target="_blank" rel="noopener noreferrer">Facebook</a>
      </li>
    </ul>

    <ul>
        Email
        <li>
        <a href="mailo:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
      </li>

        Телефони
        <li>
        <a href="tel:+380936432288">+38 (093) 643 22 88</a>
        </li>

        <li>
        <a href="tel:380936432288">+38 (093) 643 22 88</a>
      </li>
      
    </ul>
  </address>
</section>