<section class="footer">
  <div class="container footer__common">
  <a class="logo-footer" href="http://localhost:1234/index.html">
    <picture>
    <source media="(min-width: 1200px )"
     srcset="./images/logo/3DFREEDOM-desktop.webp 1x, ./images/logo/3DFREEDOM-desktop@2x.webp 2x"
     type="image.webp">

     <source media="(min-width: 1200px)"
     srcset="./images/logo/3DFREEDOM-desktop.jpg 1x, ./images/logo/3DFREEDOM-desktop@2x.jpg 2x">

      <source media="(min-width: 768px )"
     srcset="./images/logo/3DFREEDOM-tablet.webp 1x, ./images/logo/3DFREEDOM-tablet@2x.webp 2x"
     type="image.webp">

     <source media="(min-width: 768px)"
     srcset="./images/logo/3DFREEDOM-tablet.jpg 1x, ./images/logo/3DFREEDOM-tablet@2x.jpg 2x">

      <source media="(min-width: 220px )"
     srcset="./images/logo/3DFREEDOM-mobile.webp 1x, ./images/logo/3DFREEDOM-mobile@2x.webp 2x"
     type="image.webp">

     <source media="(min-width: 220px)"
     srcset="./images/logo/3DFREEDOM-mobile.jpg 1x, ./images/logo/3DFREEDOM-mobile@2x.jpg 2x">
    

    <img class="logo-footer__img" src="./images/logo/3DFREEDOM.jpg" alt="logo 3DFREEDOM">
 </picture>
  </a>
  <div class="footer__navigation">
  <nav class="footer__nav">
    <ul class="footer__nav-list">
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="http://localhost:1234/index.html">Головна</a>
      </li>

      <li class="footer__nav-item">
        <a class="footer__nav-link" href="/modelling.html">3D Моделювання</a>
      </li>

      <li class="footer__nav-item">
        <a class="footer__nav-link" href="/scanning.html">3D Сканування</a>
      </li>

      <li class="footer__nav-item">
        <a class="footer__nav-link" href="/printing.html">3D Друк</a>
      </li>

      <li class="footer__nav-item">
        <a class="footer__nav-link" href="/take_order.html">Замовити</a>
      </li>

      <li class="footer__nav-item">
        <a class="footer__nav-link" href="/contacts.html">Контакти</a>
      </li>
    </ul>
  </nav>

  <div class="footer-network">
         <ul class="footer-network__list">
          <li class="footer-network__item">
            <a class="footer-network__link" href="#" target="_blank" rel="noopener noreferrer">Instagram</a>
          </li>

          <li class="footer-network__item">
            <a class="footer-network__link" href="#" target="_blank" rel="noopener noreferrer">YouTube</a>
          </li>

          <li class="footer-network__item">
            <a class="footer-network__link" href="#" target="_blank" rel="noopener noreferrer">Facebook</a>
          </li>
        </ul>
  </div>
    
    
<address class="footer-contacts">
    <ul class="footer-contacts__list">
        <p class="footer-contacts__text">Email</p> 
        <li class="footer-contacts__item">
        <a class="footer-contacts__link" href="mailo:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
      </li>


        <p class="footer-contacts__text">Телефони</p> 
        <li class="footer-contacts__item">
        <a class="footer-contacts__link"  href="tel:+380936432288">+38 (093) 643 22 88</a>
        </li>
        <li class="footer-contacts__item">
        <a class="footer-contacts__link"  href="tel:+380503454423">+38 (050) 345 44 23</a>
      </li>
      
    </ul>
  </address>
  </div>
  </div>
</section>