<header>
  <div class="container">
    <nav class="header-position">
      <a href="http://https://ruslanpetrovup.github.io/3dfreedom.info/"> <!--ЗАЧЕМ????-->
        <img src="./images/logo/3DFREEDOM.jpg" alt="" srcset="" />
      </a>
      2
      <svg class="header__position-sprite">
        <use href="./images/svg/sprites.svg#burger"></use>
      </svg>
      3
      <svg class="header__position-sprite">
        <use href="./images/svg/sprites.svg#phone"></use>
      </svg>
      ENG
    </nav>
  </div>
</header>