.bg-item {
  position: absolute;
  z-index: -1;

  background-color: $primary-bg;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);

  width: 73.65px;
  height: 73.65px;

  // TODO: Delete this
  outline: 1px solid $accent;

  // Top Left
  &__tl {
    left: 0;
    top: 8px;
    border-radius: 0 35px 35px 0;

    @include respond-from-min($tablet) {
      left: 233px;
      top: 8px;
    }
  }

  // Top Right
  &__tr {
    right: 0;
    top: 8px;

    border-radius: 35px 0px 0px 35px;

    @include respond-from-min($tablet) {
      right: 233px;
      top: 8px;
    }
  }

  // Second Left
  &__secl {
    left: -29px;
    top: 302.61px;

    border-radius: 0px 0px 35px 0px;

    @include respond-from-min($tablet) {
      left: 32.1px;
      top: 438.15px;
    }
  }

  // Third Left
  &__thl {
    left: -17px;
    top: 650.93px;

    border-radius: 25px 0;

    @include respond-from-min($tablet) {
      left: 32.1px;
      top: 650.93px;
    }
  }

  // Bottom Left
  &__bl {
    left: -18px;
    top: 1069.83px;

    border-radius: 0px 0px 0px 35px;

    @include respond-from-min($tablet) {
      left: 32.1px;
      top: 1069.83px;
    }
  }

  // Second Right
  &__secr {
    right: -10px;
    top: 588.53px;

    border-radius: 72px;

    @include respond-from-min($tablet) {
      right: -17px;
      top: 1069.83px;
    }
  }

  // Third Right
  &__thr {
    right: -20px;
    top: 1033px;

    border-radius: 25px 0px;
    transform: rotate(90deg);

    @include respond-from-min($tablet) {
      right: 32.1px;
      top: 1033.01px;
    }
  }

  //  Bottom Right
  &__br {
    right: -18px;
    top: 1359.84px;

    border-radius: 25px 0px;

    @include respond-from-min($tablet) {
      right: 32.1px;
      top: 1359.84px;
    }
  }
}
