.contacts__title-subsection {
  text-transform: unset;
}

.contacts__link {
  display: inline-flex;
}

@media screen and (max-width: 1439px) {
  .address-tel,
  .work-time,
  .contacts__link {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .address-tel,
  .work-time,
  .contacts__link {
    margin-top: 18px;
  }
}

.address-tel__item:not(:first-child),
.work-time__item:not(:first-child) {
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:first-child) {
    margin-top: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .contacts__item:first-child {
    width: 247px;
  }
  .contacts__item:nth-child(2) {
    position: relative;
    transform: translateX(-12px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .work-time__text {
    text-align: right;
  }
}

@media screen and (min-width: 1440px) {
  .contacts {
    text-align: right;

    &__title-subsection {
      margin-top: 30px;
    }
  }

  .work-time__item {
    display: flex;
    justify-content: flex-end;
  }

  .image-decor {
    line-height: 0;
    position: relative;

    width: 438px;
    height: 295px;
    // background-image: url('../images/order/decor/order-galery-bg.jpg');
    // background-image: url('../images/order/decor/order-galery-bg.jpg');
    &__blok {
      width: 138px;
      height: 138px;
      // background-image: url('../images/order/decor/order-galery-bg.jpg');
      // background-repeat: no-repeat;
      // background-size: cover;
      // background-position: center;
      // background-attachment: fixed; /* !!! */
      background-color: black;
      // box-shadow: (20px 20px 80px rgba(0, 0, 0, 0.25));
      // border-top-right-radius: 72px;
    }

    &__container {
      // outline: 1px solid red;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      background: white;

      mix-blend-mode: lighten;
    }
  }

  .image-decor__blok-1 {
    border-radius: 0px 72px 0px 0px;
    // mix-blend-mode: lighten;
  }

  .image-decor__blok-2 {
    border-radius: 0px 0px 0px 72px;
    transform: translateY(10px);
    // mix-blend-mode: lighten;
  }

  .image-decor__blok-3 {
    border-radius: 72px 0px 72px 0px;
    // mix-blend-mode: lighten;
  }
  .image-decor__blok-4 {
    border-radius: 0px 72px 0px 72px;
    transform: translateX(2px);
    // mix-blend-mode: lighten;
  }
  .image-decor__blok-5 {
    border-radius: 72px;
    transform: translate(-5px, 5px);
    // mix-blend-mode: lighten;
  }
  .image-decor__blok-6 {
    border-radius: 0px 0px 72px 0px;
    transform: translateX(-11px);
    // mix-blend-mode: lighten;
  }
}
