.form {
  // color: #2b2b2b;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    width: 420px;

    display: flex;
    flex-direction: column;

    &__title {
      text-align: center;
    }
  }

  @media screen and (min-width: 1440px) {
    margin: 0;
    width: 515px;
  }

  &__paperclip {
    cursor: pointer;
    right: 21px;
    bottom: 18px;
    position: absolute;
    fill: #cdcdcd;
    width: 22px;
    height: 20px;
  }

  &__file-selection {
    position: relative;
  }

  &__note {
    margin-top: 4px;
    font-weight: 400;
    color: $placeholder-form-color;
  }

  &__label {
    display: block;
  }

  &__field {
    position: relative;
    display: block;
  }

  &__label {
    @include font-source-sans(16px, 20px, 400);

    @media screen and (min-width: 1440px) {
      @include font-source-sans(18px, 20px);
    }

    text-transform: capitalize;
  }

  &__field--position,
  &__field--position-select {
    margin-top: 36px;
  }

  @media screen and (max-width: 767px) {
    &__field--position-first {
      margin-top: 20px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    &__field--position-first {
      margin-top: 26px;
    }
  }

  @media screen and (min-width: 1440px) {
    &__field--position-first {
      margin-top: 36px;
    }
  }

  &__field--position-textatea {
    position: relative;
    margin-top: 68px;
  }

  &__label--position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__label--position-textarea {
    position: absolute;
    top: -4px;
    transform: translateY(-100%);
  }

  &__field:focus-within > &__label-input {
    transform: translateY(-38px);
  }

  &__input:not(:placeholder-shown) + &__label {
    transform: translateY(-38px);
  }

  &__input {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__input,
  &__select {
    // padding-top: 4px;
    // padding-bottom: 4px;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 7px;

    width: 100%;
    @include font-source-sans(16px, 20px, 400);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #487996;
  }

  // &__select:only-of-type + &__label {
  //   transform: translateY(-38px);
  // }

  &__textarea {
    @include font-source-sans(16px, 20px);

    width: 100%;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
    border: 1px solid #487996;
    box-sizing: border-box;
    border-radius: 50px 0px;

    color: $primary-text;
    background-color: transparent;

    resize: none;
    @media screen and (min-width: 1440px) {
      height: 199px;
      @include font-source-sans(18px, 20px);
    }
  }

  &__label--position.no_empti {
    transform: translateY(-38px);
  }
}

.form__textarea::placeholder {
  font-family: $primary-font;
  // text-transform: uppercase;
  @include font-source-sans(16px, 20px);

  @media screen and (min-width: 1440px) {
    @include font-source-sans(18px, 20px);
  }

  color: $placeholder-form-color;
}
@media screen and (min-width: 768px) {
  .button__form--position {
    align-self: flex-end;
  }
}

.select {
  &.is-active &__boody {
    display: block;
  }

  position: relative;
  &__heder {
    height: 32px;
    display: flex;
    cursor: pointer;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #487996;
    padding-left: 8px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 7px;
  }
  &__current {
    @include font-source-sans(16px, 20px, 400);
    @media screen and (min-width: 1440px) {
      @include font-source-sans(18px, 20px);
    }
  }

  &__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-left: auto;
  }
  &__icon-expand {
    width: 19px;
    height: 13px;
  }

  &__icon-collapse {
    width: 19px;
    height: 13px;
  }

  &__icon-none {
    display: none;
  }

  &__boody {
    z-index: 2;
    display: none;
    position: absolute;
    border-top: 0;
    border-bottom: 1px solid #487996;
    background-color: $primary-bg;
    left: 0;
    right: 0;
    top: 100%;
  }

  &__item {
    // @media screen and (min-width: 768px) {
    //   height: 32px;
    // }
    cursor: pointer;
    @include font-source-sans(16px, 20px, 400);
    @media screen and (min-width: 1440px) {
      @include font-source-sans(18px, 20px);
    }
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 7px;
  }
  &__item:hover {
    background-color: rgba(72, 121, 150, 0.5);
  }
}
