.gallery {
  padding-bottom: 52px;
}
.gallery__title {
  margin-bottom: 16px;
}
.section__title {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: ($secondary-text);
  text-transform: uppercase;
}
.gallery__list {
  display: block;
}
@media screen and (max-width: 767px) {
  .gallery__list-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.gallery__list-image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.gallery__description {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: ($secondary-text);
  margin-top: 8px;
}

@media screen and (min-width: $tablet) {
  .gallery__title {
    margin-bottom: 32px;
  }
  .section__title {
    font-size: 36px;
  }
  .gallery__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -32px;
    margin-left: -20px;
  }

  .gallery__list-item {
    flex-basis: calc((100% - 40px) / 2);
    margin-top: 32px;
    margin-left: 20px;
  }
  .gallery__list-image {
    max-width: 100%;
    height: auto;
  }
  .gallery__description {
    margin-top: 16px;
  }
}
@media screen and (min-width: $desktop) {
  .gallery {
    padding-bottom: 100px;
  }
  .gallery__title {
    margin-bottom: 52px;
  }
  .section__title {
    font-size: 48px;
  }
  .gallery__list {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -56px;
    margin-left: -32px;
  }

  .gallery__list-item {
    width: 515px;
    flex-basis: calc((100% - 64px) / 2);
    margin-top: 56px;
    margin-left: 32px;
  }
  .gallery__list-image {
    max-width: 100%;
    height: auto;
  }
  .gallery__description {
    font-size: 18px;
    line-height: 1.28;
    margin-top: 16px;
  }

  .bg-image {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 72px;
    background-image: url('../images/background/bgimage.jpg');
    width: 144px;
    height: 144px;
    right: 32px;
    top: 1508px;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bg-image {
      background-image: url('../images/background/bgimage@2x.jpg');
    }
  }
}
