.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(43, 43, 43, 0.8);
  backdrop-filter: blur(4px);
  pointer-events: none;
  transition: opacity 250ms linear;
}
.backdrop.is-active {
  opacity: 1;
  pointer-events: auto;
}
.modal-window__img {
  width: 100%;
  overflow: hidden;
}
.modal-window__block {
  display: flex;
}
@media screen and (max-width: 767px) {
  .modal-window {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 236px;
    justify-content: center;
  }
  .modal-window__icon {
    width: 11px;
    height: 11px;
  }
  .modal-window__back {
    cursor: pointer;
    border: none;
    background: none;
    margin-right: 9px;
    display: flex;
    align-items: center;
    fill: white;
  }
  .modal-window__next {
    cursor: pointer;
    border: none;
    background: none;
    margin-left: 9px;
    display: flex;
    align-items: center;
    fill: white;
  }
}
@media screen and (min-width: $tablet) and (max-width: $desktop) {
  .modal-window {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 554px;
    justify-content: center;
  }
  .modal-window__icon {
    width: 26px;
    height: 26px;
  }
  .modal-window__back {
    cursor: pointer;
    border: none;
    background: none;
    margin-right: 27px;
    display: flex;
    align-items: center;
    fill: white;
  }
  .modal-window__next {
    cursor: pointer;
    margin-left: 27px;
    display: flex;
    align-items: center;
    fill: white;
  }
}
@media screen and(min-width: $desktop) {
  .modal-window {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 906px;
    justify-content: center;
  }
  .modal-window__icon {
    width: 42px;
    height: 42px;
  }
  .modal-window__back {
    cursor: pointer;
    border: none;
    background: none;
    margin-right: 36px;
    display: flex;
    align-items: center;
    fill: white;
  }
  .modal-window__next {
    background: none;
    margin-left: 36px;
    display: flex;
    align-items: center;
    fill: white;
    cursor: pointer;
    border: none;
  }
}
