.take-order {
  padding-top: 12px;
  padding-bottom: 76px;

  &__title {
    letter-spacing: -0.04em;
  }

  &__section {
    padding-bottom: 52px;
  }

  // &__section-address {
  //   // padding-bottom: 76px;
  // }
}

.take-order-hero {
  &__text--position {
    width: 100%;
  }

  &__image {
    margin-top: 16px;
  }
}


