.take-order {
  padding-top: 12px;
  padding-bottom: 76px;

  &__title {
    letter-spacing: -0.04em;
  }

  &__section {
    padding-bottom: 52px;
  }

  // &__section-address {
  //   // padding-bottom: 76px;
  // }
}

.take-order-hero {
  &__text--position {
    width: 100%;
  }

  &__image {
    margin-top: 16px;
  }
}

.take-order-address__title-subsection {
  text-transform: unset;
}

.take-order-address__link {
  display: inline-flex;
}

.address-tel,
.work-time {
  margin-top: 8px;
}

.address-tel__item:not(:first-child),
.work-time__item:not(:first-child) {
  margin-top: 8px;
}

.take-order-address__item:not(:first-child) {
  margin-top: 24px;
}

.take-order-address__link {
  margin-top: 8px;
}

.form {
  &__note {
    margin-top: 4px;
    font-weight: 400;
    color: #cdcdcd;
  }

  &__label,
  &__input,
  &__select,
  &__textarea {
    display: block;
  }

  &__label {
    @include font-source-sans(16px, 20px, 400);
    text-transform: capitalize;
    color: #2b2b2b;
  }

  &__label--position-first {
    position: relative;
    top: 31px;
    height: 32px;
  }

  &__label--position {
    position: relative;
    top: 47px;
    height: 48px;
  }

  &__label--position-tarea {
    position: relative;
    top: 44px;
  }

  &__label--position-sel {
    position: relative;
    top: 44px;
    height: 48px;
  }

  &__input,
  &__select {
    width: 100%;
    @include font-source-sans(16px, 20px, 400);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #487996;
  }

  &__textarea {
    margin-top: 48px;
    width: 100%;

    border: 1px solid #487996;
    box-sizing: border-box;
    border-radius: 50px 0px;

    resize: none;
  }
}
