@media screen and (min-width: 320px) and (max-width: 767px) {
  .submenu-lang {
    left: -20%;
    position: absolute;
    opacity: 0;
    transition: opacity 250ms linear;
  }
  .header__lang:hover .submenu-lang {
    opacity: 1;
  }
  .header__lang {
    text-align: center;
    position: relative;
  }
  .header__lang-title {
    color: #bdbdbd;
  }
  .header-btn-lang-item {
    color: #bdbdbd;
    border: none;
    background-color: inherit;
  }
  .header__mobile-tel {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 32px;
    &__mobile {
      display: none;
    }
    &__sprite-burger {
      border: none;
      background-color: inherit;
      margin-left: 23px;
      margin-right: 23px;
      fill: #487996;
    }

    &__sprite-phone {
      margin-right: 21px;
      fill: #008cef;
      border: none;
      background-color: inherit;
    }

    &__mobile-lang {
      display: flex;
    }

    &__link-position {
      display: none;
      position: absolute;
      background-color: #ffffff;
    }
  }

  .header-nav {
    display: flex;
  }

  .header-menu {
    position: fixed;
    padding-left: 200px;
    top: 80px;
    left: 0;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    width: 100%;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__burger-hidden {
      fill: #ffffff;
    }

    &__link-position {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 44px;
    }

    &__link {
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.25;
      text-align: center;
      background-color: inherit;
      &:not(:last-child) {
        margin-bottom: 24px;
      }

      a {
        color: #487996;
      }
    }
  }
    .active-page {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #487996;
    }

  .header-link {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #2b2b2b;
    margin-top: 24px;

    a {
      color: #487996;
    }
  }

  .header-menu-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-menu-close {
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #487996;
    margin-left: 33px;
    margin-right: 34px;
  }

  .header-menu-nav {
    align-items: flex-start;
    justify-content: center;
    height: 30px;
  }

  .header-form-expand {
    display: none;
  }

  .submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__mobile-tel {
    display: none;
  }
  .header__sprite-phone {
    position: relative;
  }
  .header__sprite-phone:hover .header__mobile-tel {
    display: block;
    background-color: white;
    position: absolute;
    width: 170px;
    padding: 15px 8px;
    right: 50%;
    top: 130%;
    box-shadow: 2px 2px 11px 1px rgb(34 60 80 / 20%);
    transform: translateX(50%);
    z-index: 2;
  }
  .header__mobile-tel-icon {
    width: 38px;
    height: 26px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    fill: white;
  }
  .header__mobile-tel-item:first-child {
    margin-bottom: 10px;
  }

  .header-mobile-open {
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }

  .header-btn-lang {
    border: none;
    background-color: inherit;
    color: #bdbdbd;
  }

  .header-contacts-position {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .submenu-lang {
    left: -20%;
    position: absolute;
    opacity: 0;
    transition: opacity 250ms linear;
  }
  .header__lang:hover .submenu-lang {
    opacity: 1;
  }
  .header__lang {
    text-align: center;
    position: relative;
  }
  .header__lang-title {
    color: #bdbdbd;
  }
  .header-btn-lang-item {
    color: #bdbdbd;
    border: none;
    background-color: inherit;
  }
  .header__mobile-tel {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 36px;

    &__sprite-burger {
      border: none;
      background-color: inherit;
      margin-left: 110px;
      margin-right: 23px;
      fill: #487996;
    }

    &__sprite-phone {
      display: none;
    }

    &__mobile-lang {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__link {
      width: 125px;
      height: 31px;
    }

    &__link-position {
      display: none;
      position: absolute;
      background-color: #ffffff;
    }

    &__mobile {
      margin-left: 8px;
    }
  }

  .header__lang {
    margin-right: 28px;
  }

  .header-phone {
    &:last-child {
      margin-top: 15px;
    }
    fill: #008cef;
  }

  a {
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #2b2b2b;
  }

  .header-menu {
    position: fixed;
    // padding-left: 200px;
    top: 80px;
    left: 0;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    width: 100%;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__burger-hidden {
      fill: #ffffff;
    }

    &__link-position {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 44px;
    }

    &__link {
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.25;
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 24px;
      }

      a {
        color: #487996;
      }
    }
  }
    .active-page {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #487996;
    }
  .header-phone-position{
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }


  .header-link {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #2b2b2b;
    margin-top: 24px;

    a {
      color: #487996;
    }
  }

  .header-menu-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-menu-close {
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #487996;
    margin-right: 23px;
    margin-left: 120px;
  }

  .header-menu-nav {
    align-items: flex-start;
    height: 30px;
  }

  .header-form-expand {
    display: none;
  }

  .data-menu-position {
    position: absolute;
  }

  .submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-btn-lang {
    border: none;
    background-color: inherit;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-contacts-position {
    display: flex;
    flex-direction: column;
  }

  .header-mobile-open {
    &:last-child {
      margin-top: 10px;
    }
  }
  .header-btn-lang {
    border: none;
    background-color: inherit;
    color: #bdbdbd;
  }
}

@media screen and (min-width: 1440px) {
  .header__mobile-tel {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 62px;
    width: 1658px;

    &__sprite-burger {
      display: none;
    }

    &__sprite-phone {
      fill: #008cef;
    }

    &__mobile-lang {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-left: 109px;
    }

    &__sprite-phone {
      display: none;
    }

    &__link {
      width: 192px;
      height: 48px;
    }

    &__link-position {
      display: flex;
      width: 500px;
      justify-content: flex-end;
      position: relative;
    }

    &__mobile {
      margin-left: 8px;
    }
  }

  .header-nav {
    display: flex;
    align-items: flex-start;
  }

  .header-position-link {
    &:not(:last-child) {
      margin-right: 54px;
    }
  }

  .header-link {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #2b2b2b;
  }

  .header-phone {
    &:last-child {
      margin-top: 18px;
    }
    fill: #008cef;
  }

    .header-phone-position{
    &:not(:last-child){
      margin-bottom: 10px;
      }
    }

  a {
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #2b2b2b;
  }

  .header-menu-close {
    display: none;
  }

  .header-form-expand {
    padding: 0;
    border: none;
    background-color: inherit;
    fill: #008cef;
  }
  .header-icon-form {
    transition: transform 250ms linear;
  }
  .header-menu-item:hover .header-icon-form {
    transform: rotate(180deg);
  }
  .header-service {
    margin-top: 6px;
    &:first-child {
      margin-top: 18px;
    }
  }

  .submenu {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 160px;
    margin-top: 8px;
    z-index: 1;
    transform: translateX(-50%);
    transition: opacity 250ms linear;
  }
  .header-menu-item {
    position: relative;
  }
  .header-menu-item:hover .submenu {
    opacity: 1;
  }

  // .submenu-lang {
  //   display: none;
  //   position: absolute;
  //   min-width: 160px;
  //   z-index: 1;
  // }

  .header-btn-lang-item {
    color: #bdbdbd;
    border: none;
    background-color: inherit;
  }
  .submenu-lang {
    left: -20%;
    position: absolute;
    opacity: 0;
    transition: opacity 250ms linear;
  }
  .header__lang:hover .submenu-lang {
    opacity: 1;
  }
  .header__lang {
    margin-right: 94px;
    text-align: center;
    position: relative;
  }
  .header__lang-title {
    color: #bdbdbd;
  }
  .header-contacts-position {
    display: flex;
    flex-direction: column;
  }

  .header-mobile-open {
    &:last-child {
      margin-top: 10px;
    }
  }

  .header-btn-lang {
    border: none;
    background-color: inherit;
    color: #bdbdbd;
  }
}
.is-hidden {
  display: none;
}
.is-open {
  display: flex;
}
