@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 36px;
    &__mobile {
      display: none;
    }
    &__sprite-burger {
      border: none;
      background-color: inherit;
      margin-left: 23px;
      margin-right: 23px;
      fill: #487996;
    }

    &__sprite-phone {
      margin-right: 21px;
      fill: #008cef;
      border: none;
      background-color: inherit;
    }

    &__mobile-lang {
      display: flex;
    }

    &__link-position {
      display: none;
      position: absolute;
      background-color: #ffffff;
    }
  }

  .header-nav{
    display: flex;
  
  }

  .header-menu {
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__burger-hidden {
      fill: #ffffff;
    }

    &__link-position {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 44px;
    }

    &__link {
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.25;
      text-align: center;
      background-color: inherit;
      &:not(:last-child) {
        margin-bottom: 24px;
      }

      a {
        color: #487996;
      }
    }

    .active-page {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #487996;
    }
  }

  .header-link {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #2b2b2b;
    margin-top: 24px;

    a {
      color: #487996;
    }
  }

  .header-menu-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .header-menu-close {
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #487996;
    margin-left: 33px;
    margin-right: 34px;
  }

  .header-menu-nav {
    align-items: flex-start;
    justify-content: center;
    height: 30px;
  }

  .submenu-lang {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }

  .header__lang{

    &:hover .submenu-lang {
    display: block;
    }
  }

  .header-form-expand{
    display: none;
  }

  .submenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__sprite-phone:hover .header__mobile{
    display: block;
  }

  .header-mobile-open {
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }

  .header-btn-lang{
    border: none;
    background-color: inherit;
    color: #BDBDBD;
  }

  .header-contacts-position{
    display: none;
  }


}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 36px;

    &__sprite-burger {
      border: none;
      background-color: inherit;
      margin-left: 180px;
      margin-right: 23px;
      fill: #487996;
    }

    &__sprite-phone {
      display: none;
    }

    &__mobile-lang {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__link {
      width: 125px;
      height: 31px;
    }

    &__link-position {
      display: none;
      position: absolute;
      background-color: #ffffff;
    }

    &__mobile{
      margin-left: 8px;
    }
  }

  .header__lang {
    margin-right: 28px;
  }

  .header-phone {
    &:last-child{
      margin-top: 10px;
    }
    fill: #008cef;
  }

  a {
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #2b2b2b;
  }

  .header-menu {
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__burger-hidden {
      fill: #ffffff;
    }

    &__link-position {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 44px;
    }

    &__link {
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.25;
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 24px;
      }

      a {
        color: #487996;
      }
    }

    .active-page {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #487996;
    }
  }

  .header-link {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #2b2b2b;

    a {
      color: #487996;
    }
  }

  .header-menu-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-menu-close {
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #487996;
    margin-right: 23px;
    margin-left: 190px;
  }

  .header-menu-nav {
    align-items: flex-start;
    height: 30px;
  }

  .submenu-lang {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }

  .header__lang:hover .submenu-lang {
    display: block;
  }

  .header-form-expand{
    display: none;
  }

  .data-menu-position{
    position: absolute;
  }

  .submenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-btn-lang{
    border: none;
    background-color: inherit;
  }

  .header-nav{
    display: flex;
    align-items: center;
  }

  .header-contacts-position{
    display: flex;
    flex-direction: column;
  }

  .header-mobile-open{
    &:last-child{
      margin-top: 10px;
    }
  }
  .header-btn-lang{
    border: none;
    background-color: inherit;
    color: #BDBDBD;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 36px;

    &__sprite-burger {
      display: none;
    }

    &__sprite-phone {
      fill: #008cef;
    }

    &__mobile-lang {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    &__sprite-phone {
      display: none;
    }

    &__link {
      width: 192px;
      height: 48px;
    }

    &__link-position {
      display: flex;
      width: 500px;
      justify-content: flex-end;
      position: relative;
    }

    &__mobile{
      margin-left: 8px;
    }
  }

  .header-position-link{
    &:not(:last-child){
      margin-right: 54px;
    }
  }

  .header-link {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #2b2b2b;
  }

  .header-phone {
    &:last-child{
      margin-top: 10px;
    }
    fill: #008cef;
  }

  a {
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #2b2b2b;
  }

  .header-menu-close {
    display: none;
  }

  .header-form-expand {
    position: relative;
    top: -20px;
    left: 60px;
    width: 0px;
    border: none;
    background-color: inherit;
    fill: #008cef;
    &:hover{
      transform: rotate(180);
    }
  }

  .header-service {
    margin-top: 6px;
    &:first-child{
      margin-top: 12px;
    }
  }

  .submenu {
    display: none;
    position: absolute;
    top: 0px;
    left: 85px;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
  }

  .header-menu-service:hover .submenu {
    display: block;
    
  }

  .submenu-lang {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }

  .header__lang{
    margin-right: 28px;
    &:hover .submenu-lang {
      display: block;
    }
  }

  .header-btn-lang{
    border: none;
    background-color: inherit;
  }

  .header-nav{
    display: flex;
    align-items: center;
  }

  .header-contacts-position{
    display: flex;
    flex-direction: column;
  }

  .header-mobile-open{
    &:last-child{
      margin-top: 10px;
    }
  }

  .header-btn-lang{
    border: none;
    background-color: inherit;
    color: #BDBDBD;
  }

}
.is-hidden {
  display: none;
}
.is-open {
  display: flex;
}
