.hero {
  padding-bottom: 52px;

  @include respond-from-min($desktop) {
    padding-bottom: 100px;
    padding-top: 12px;
  }

  &__desc {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;

    text-align: center;
    font-size: 18px;
    color: $primary-text;

    @include respond-from-min($tablet) {
      font-size: 24px;
      margin-bottom: 64px;
      max-width: 312px;
      margin-left: auto;
      margin-right: auto;
    }
    @include respond-from-min($desktop) {
      font-size: 48px;
      margin-bottom: 69px;
      max-width: 620px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    @include respond-from-min($tablet) {
      margin-bottom: 65px;
      width: 360px;
      margin-left: auto;
      margin-right: auto;
    }
    @include respond-from-min($desktop) {
      margin-bottom: 100px;
      width: 688px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-desc {
    margin-top: 32px;
  }

  &__text {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.16;
    text-align: center;
    color: $primary-text;

    @include respond-from-min($tablet) {
      font-size: 18px;
    }
    @include respond-from-min($desktop) {
      font-size: 36px;
    }
  }
}

.hero-img {
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));

  &--left {
    border-radius: 0px 35px 0px 0px;
  }

  &--around {
    border-radius: 100px;
  }

  &--right {
    border-radius: 0px 25px;
  }
}

// Arrow
.arrow {
  display: none;

  @include respond-from-min($tablet) {
    display: block;
    position: absolute;
    left: 105.76px;
    top: 302.61px;

    width: 73.65px;
    height: 73.65px;

    padding-top: 29.67px;
    padding-bottom: 29.66px;
    text-align: center;
  }

  @include respond-from-min($desktop) {
    left: 176px;
    top: 583px;
    width: 144px;
    height: 144px;
    padding: 58px 63px;
  }

  &__box {
    @include respond-from-min($tablet) {
      padding: 15px;
    }
    @include respond-from-min($desktop) {
      padding: 25px;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond-from-min($tablet) {
      height: 16px;
      width: 16px;
      fill: $accent;
    }
    @include respond-from-min($desktop) {
      width: 32px;
      height: 32px;
    }
  }
}

.decor {
  display: none;

  @include respond-from-min($tablet) {
    display: block;

    }


  // Left decor
  &__tl {
    @include respond-from-min($tablet) {
      position: absolute;
      width: 73.65px;
      height: 73.65px;
      left: 105.76px;
      top: 79.1px;
      background: $primary-bg;
      border-radius: $circle;
    }
    @include respond-from-min($desktop) {
      width: 144px;
      height: 144px;
      left: 176px;
      top: 146px;
    }
  }

  &__bl {
    @include respond-from-min($tablet) {
      position: absolute;
      width: 73.65px;
      height: 73.65px;
      left: 32.1px;
      top: 364.5px;

      background: $primary-bg;
      border-radius: $circle;
    }
    @include respond-from-min($desktop) {
      width: 144px;
      height: 144px;
      top: 704px;
    }
  }

  // Right decor
  &__tr {
    @include respond-from-min($tablet) {
      position: absolute;
      width: 73.65px;
      height: 73.65px;
      right: 32.1px;
      top: 81.65px;

      background: $primary-bg;
      border-radius: $corner-br;
    }

    @include respond-from-min($desktop) {
      width: 144px;
      height: 144px;
      right: 32.1px;
      top: 151px;
    }
  }

  &__br {
    @include respond-from-min($tablet) {
      position: absolute;
      width: 73.65px;
      height: 73.65px;
      right: 32.1px;
      top: 302.61px;

      background: $primary-bg;
      border-radius: 50% 50% 0 0;
    }

    @include respond-from-min($desktop) {
      width: 144px;
      height: 144px;
      top: 583px;
    }
  }
}
