.list {
  list-style-type: none;
}
.hero {
  padding-bottom: 52px;

  &__container {
    max-width: 280px;
    margin: 0 auto;

    @include respond-from-min($tablet) {
      max-width: 420px;
    }
    @include respond-from-min($desktop) {
      max-width: 624px;
    }
  }
  &__title {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;

    text-align: center;
    font-size: 18px;
    color: $primary-text;
    margin-bottom: 32px;

    @include respond-from-min($tablet) {
      font-size: 24px;
      margin-bottom: 65px;
    }
    @include respond-from-min($desktop) {
      font-size: 48px;
      margin-bottom: 69px;
    }
  }

  &-list {
    display: flex;
    justify-content: center;
  }

  &-list__item:not(:last-child) {
    margin-right: 20px;
  }
  &-desc {
    margin-top: 32px;
  }

  &-desc__text {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16px;
    text-align: center;
    color: $primary-text;
    margin-top: 65px;

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
      font-size: 18px;
    }
    @media screen and (min-width: 1440px) {
      font-size: 36px;
      margin-top: 100px;
    }
  }
}

.img-radius--around {
  border-radius: 0px 35px 0px 0px;
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));

  @include respond-from-min($tablet) {
    font-size: 24px;
    margin-bottom: 65px;
  }
  @include respond-from-min($desktop) {
    font-size: 48px;
    margin-bottom: 69px;
  }
}
.img-radius--left {
  border-top-right-radius: 25%;
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));
}
.img-radius--right {
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));
}

.arrow__gallery {
  position: relative;
  border-radius: 0px 0px 35px 0px;
  left: 90px;
}

.arrow__icon {
  height: 14px;
  width: 9px;
  fill: $accent;
}
.decor {
  &__tl {
    position: absolute;
    width: 73.65px;
    height: 73.65px;
    left: 105.76px;
    top: 79.1px;
  }
}

/* .box {
  min-height: 100vh;
  position: relative;
}
.box__figure {
  position: absolute;
  width: 144px;
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 64px;
  color: #fff;

 background: turquoise;
border-radius: 0px 0px 72px 0px;
}
.box__figure:nth-child(1) {
  left: 32px;
  top: 151px;
  background-color: #1789fc;

  z-index: 2;
}
.box__figure:nth-child(2) {
  top: 30px;
  left: 230px;
  background-color: #ef233c;

  z-index: 2;
}

.box__figure:nth-child(3) {
  top: 140px;
  left: 220px;
  background-color: #ffd07b;
  z-index: 1;
}

.box__figure:nth-child(4) {
  top: 120px;
  left: 120px;
  background-color: #4caf50;
} */
