.modelling-text,
.modelling-methods__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.26;
  color: $primary-text;

  @media screen and (min-width: $tablet) {
    line-height: 1.25;
  }
}
.modelling-title {
  margin-bottom: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $secondary-text;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
    line-height: 1.26;
  }
  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
}

// Hero
.modelling-hero {
  padding-top: 12px;
  @media screen and (min-width: $tablet) {
    padding-top: 24px;
  }

  padding-bottom: 52px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 50px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 100px;
  }
}

.modelling-hero__title {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.26;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    font-size: 36px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 48px;
    margin-bottom: 24px;
  }
}
.modelling-text,
.modelling-methods__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.26;
  color: $primary-text;
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}
.modelling-hero__content {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}
.modelling-hero__text {
  @media screen and (min-width: $tablet) {
    max-width: 515px;
  }
}
.modelling-hero__text:not(:last-child) {
  @media screen and (max-width: 1439px) {
    margin-bottom: 16px;
  }
}

// Methods
.modelling-methods {
  @media screen and (max-width: 1143px) {
    padding-bottom: 52px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 100px;
  }
}
.modelling-methods__title {
  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.28;
  }
}
.modelling-methods__list {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.modelling-methods__item:not(:last-child) {
  margin-bottom: 16px;
}
.modelling-methods__item {
  position: relative;
  display: flex;
  margin-left: 17px;
}
.modelling-methods__item::before {
  content: '';
  position: absolute;
  min-width: 7px;
  height: 7px;
  top: 8px;
  left: -17px;
  background-color: $secondary-text;
  border-radius: 3px 0px;
}

// Backround picture
.modelling-methods__container {
  position: relative;
}

.modelling-methods__picture {
  height: 164px;
  background-image: url(../images/modeling/gear-mob.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    // margin-bottom: 52px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
    screen and (min-resolution: 192dpi) and (min-width: 280px),
    screen and (min-resolution: 2dppx) and (min-width: 280px) {
    background-image: url(../images/modeling/gear-mob@2x.jpg);
  }
  @media screen and (min-width: $tablet) {
    background-image: url(../images/modeling/gear-tab.jpg);
    width: 246px;
    height: 144px;
    z-index: -5;
    background-size: contain;
    position: absolute;
    right: 60px;
    top: 31px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: $tablet),
    screen and (min-resolution: 192dpi) and (min-width: $tablet),
    screen and (min-resolution: 2dppx) and (min-width: $tablet) {
    background-image: url(../images/modeling/gear-tab@2x.jpg);
    background-size: cover;
  }
  @media screen and (min-width: $desktop) {
    background-image: url(../images/modeling/gear.jpg);
    width: 515px;
    height: 301px;
    background-size: contain;
    position: absolute;
    right: 189px;
    top: -64px;
    z-index: -5;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: $desktop),
    screen and (min-resolution: 192dpi) and (min-width: $tablet),
    screen and (min-resolution: 2dppx) and (min-width: $tablet) {
    background-image: url(../images/modeling/gear@2x.jpg);
    background-size: cover;
  }
}

// We Create
.modelling-create {
  padding-bottom: 76px;
  @media screen and (min-width: $desktop) {
    padding-bottom: 100px;
  }
}
.modelling-create__title {
  @media screen and (max-width: 767px) {
    max-width: 220px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
  @media screen and (min-width: $tablet) {
    max-width: 480px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1140px) {
    max-width: 840px;
    margin-bottom: 52px;
  }
}
.modelling-create__list {
  margin-bottom: 52px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 100px;
  }
}
// We Create pictures

.modelling-create__list {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: $tablet) {
    justify-content: space-between;
  }
}
.modelling-create__item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 10px) / 2);
    &:nth-child(odd) {
      margin-right: 10px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 16px;
    }
  }
}

// Button
.order-button {
  display: block;
  width: 280px;
  height: 56px;
  // padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: $secondary-text;
  background-color: $secondary-bg;
  text-align: center;
  text-transform: uppercase;
  border-radius: 31px;
  box-shadow: -5px -5px 10px 0px $primary-bg,
    5px 5px 10px 0px $secondary-text40, 10px 10px 20px 0px $secondary-text1a,
    -10px -10px 20px 0px $primary-bg;

  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
    width: 277px;
  }
}
// Backgroung
.bg__item--1 {
  // display: block;
  left: -29px;
  top: 303px;
  border-radius: 0 0 35px 0;

  @media screen and (min-width: $tablet) {
    top: 229px;
    left: 8px;
  }

  @media screen and (min-width: $desktop) {
    top: 280px;
    left: 13px;
    border-radius: 0 0 72px 0;
  }
}
.bg__item--2 {
  // перевірити чи дійсно в таблет версії ширина не рівна довжині
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    top: 90px;
    right: 9px;
    border-radius: 0 0 0 35px;
  }

  @media screen and (min-width: $desktop) {
    top: 159px;
    right: 13px;
    border-radius: 0 0 0 75px;
  }
}
.bg__item--3 {
  border-radius: 25px 0;

  @media screen and (max-width: 767px) {
    top: 651px;
    left: -17px;
  }

  @media screen and (min-width: $tablet) {
    z-index: 1;
    top: 471px;
    right: 0px;
    // треба 8 але інакше перекриває картинку
  }

  @media screen and (min-width: $desktop) {
    z-index: -1;
    top: 667px;
    right: -23px;
    border-radius: 72px 0;
  }
}
.bg__item--4 {
  border-radius: 72px;
  top: 588px;
  right: -15px;

  @media screen and (min-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: block;
    top: 1247px;
    right: -44px;
  }
}
.bg__item--5 {
  @media screen and (max-width: 767px) {
    border-radius: 0 25px;
    top: 1033px;
    right: -21px;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.bg__item--6 {
  @media screen and (max-width: 767px) {
    top: 1070px;
    left: -18px;
    border-radius: 0 0 0 35px;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.bg__item--7 {
  @media screen and (max-width: 767px) {
    top: 1360px;
    right: -15px;
    border-radius: 25px 0;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.bg__item--8 {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
    top: 1077px;
    left: -64px;
    border-radius: 72px;
  }
}
