.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.modelling-text,
.modelling-methods__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.26;
  color: #2b2b2b;
}
.modelling-title {
  margin-bottom: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #487996;
}

// Hero
.modelling-hero__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.26;
  text-transform: uppercase;
  color: #487996;
}
.modelling-hero__content {
  padding-bottom: 52px;
}
.modelling-hero__text:not(:last-child) {
  margin-bottom: 16px;
}

// Methods
.modelling-methods__title {
  font-size: 18px;
  line-height: 1.28;
}
.modelling-methods__list {
  padding-bottom: 32px;
}
.modelling-methods__item:not(:last-child) {
  margin-bottom: 16px;
}

.modelling-methods__picture {
  min-height: 164px;
  margin-bottom: 52px;
  background-image: url(../images/modeling/gear.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// We Create
.modelling-create__container {
  padding-bottom: 76px;
}
.modelling-create__title {
  font-size: 16px;
  line-height: 1.25;
}
.modelling-create__list {
  margin-bottom: 52px;
}
// We Create pictures

.modelling-create__list {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}
.modelling-create__item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 10px) / 2);
    &:nth-child(odd) {
      margin-right: 10px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 16px;
    }
  }
}

// Button
.order-button {
  display: block;
  width: 280px;
  height: 56px;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #487996;
  background-color: #f5f5fa;
  text-align: center;
  text-transform: uppercase;
  border-radius: 31px;
  box-shadow: -5px -5px 10px 0px #ffffff, 5px 5px 10px 0px #48799640,
    10px 10px 20px 0px #4879961a, -10px -10px 20px 0px #ffffff;
}
