.more-photos {
  padding-bottom: 76px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 52px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 100px;
  }
}

.more-photos__title {
  margin-bottom: 16px;
  font-family: $secondary-font;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 52px;
  }
}

.masonry {
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -20px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: -32px;
    margin-left: -32px;
    margin-bottom: 56px;
  }
}

.masonry__item {
  @media screen and (max-width: 767px) {
    &:nth-child(n + 4) {
      display: none;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    flex-grow: 1;
    margin-left: 20px;
    margin-top: 20px;

    &:nth-child(-n + 3),
    &:nth-last-child(-n + 3) {
      height: 158px;
      outline: 3px solid red;
    }

    &:nth-child(n + 4):nth-child(-n + 6) {
      height: 165px;
      outline: 3px solid blue;
    }

    &:nth-child(n + 7):nth-child(-n + 8) {
      height: 124px;
      outline: 3px solid green;
    }

    &:nth-child(9) {
      height: 124px;
      outline: 3px solid green;
      width: 112px;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-left: 32px;
    margin-top: 32px;

    &:nth-child(-n + 3),
    &:nth-last-child(-n + 3) {
      height: 260px;
      outline: 3px solid red;
    }

    &:nth-child(n + 4):nth-child(-n + 6) {
      height: 271px;
      outline: 3px solid blue;
    }

    &:nth-child(n + 7):nth-child(-n + 8) {
      height: 203px;
      outline: 3px solid green;
    }

    &:nth-child(9) {
      height: 124px;
      outline: 3px solid green;
      width: 185px;
    }
  }
}

.masonry__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.load-more-button {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
}
