.scanning-hero {
  &__title {
    color: $secondary-text;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &__text {
    color: $primary-text;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
.scanning__picture {
  height: 200px;
}
.scanning-hero {
  margin-bottom: 24px;
  min-height: 200px;
  background-image: url(../images/scanning/scanning-mob.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
    screen and (min-resolution: 192dpi) and (min-width: 280px),
    screen and (min-resolution: 2dppx) and (min-width: 280px) {
    background-image: url(../images/scanning/scanning-mob@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/scanning/scanning-tab.jpg);
    background-position: 100% 100%;
    min-height: 172px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/scanning/scanning-tab@2x.jpg);
    background-position: 100% 100%;
    min-height: 172px;
  }
  @media screen and (min-width: 1440px) {
    background-image: url(../images/scanning/scanning.jpg);
    background-position: left right;
    min-height: 368px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/scanning/scanning@2x.jpg);
    // background-position: 100% 100%;
    min-height: 368px;
  }
}

// scan-process

.scan-process {
  &__title {
    color: $secondary-text;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.27;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__subtitle {
    color: $secondary-text;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    position: relative;
  }
}
.scan-process__frame {
  display: inline-block;
  width: 133px;
  height: 183px;
  background: #ffffff;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
    inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
  flex-basis: calc((100% - 32px) / 2);
  margin-left: 16px;
  margin-top: 16px;
  flex-direction: column;
}

.scan-process__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-top: -16px;
}
.scan-process__subtitle::before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/scanning/process/01-scan-mob.jpg);
}

//order-form

.button__scanning {
  margin: auto;
  margin-top: 52px;
  margin-bottom: 76px;
  border-color: transparent;
}

.scanning-hero__block {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: flex;
  }
}

// Tablet
@media screen and (min-width: 767px) {
  .scanning-hero {
    &__title {
      font-size: 36px;
    }
    &__desc {
      width: 515px;
    }
  }
  .scan-process {
    &__title {
      font-size: 24px;
      line-height: 1.25;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    &__subtitle {
      color: $secondary-text;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .scan-process__frame {
    width: 153px;
    height: 210px;
    &:not(:last-child) {
      margin-left: 12px;
    }
  }
  .scan-process__list {
    flex-wrap: nowrap;
  }
}

// Desktop
@media screen and (min-width: 1440px) {
  .scanning-hero {
    &__title {
      font-size: 48px;
      margin-bottom: 24px;
    }
    &__text {
      font-size: 18px;
      line-height: 1.28;
    }
    &__desc {
      display: flex;
      width: 475px;
    }
  }
  .scan-process {
    &__title {
      font-size: 36px;
      margin-bottom: 52px;
    }

    &__subtitle {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.22;
    }
  }
  .scan-process__frame {
    width: 250px;
    height: 298px;
    &:not(:last-child) {
      margin-left: 24px;
    }
  }
}
