<article class="bg">
  <!-- Top Left -->
  <div class="bg-item bg-item__tl"></div>
  <!-- Second Left -->
  <div class="bg-item bg-item__secl"></div>
  <!-- Third Left -->
  <div class="bg-item bg-item__thl"></div>
  <!-- Bottom Left -->
  <div class="bg-item bg-item__bl"></div>
  <!-- Top Right -->
  <div class="bg-item bg-item__tr"></div>
  <!-- Second Right -->
  <div class="bg-item bg-item__secr"></div>
  <!-- Third Right -->
  <div class="bg-item bg-item__thr"></div>
  <!-- Bottom Right -->
  <div class="bg-item bg-item__br"></div>
</article>

7 left
8 right