<article class="bg">
  <!-- Top Left -->
  <div class="bg__item bg__item--tl-row-1"></div>
  <div class="bg__item bg__item--tl-row-2"></div>
  <!-- Second Left -->
  <div class="bg__item bg__item--secl-row-1"></div>
  <div class="bg__item bg__item--secl-row-2"></div>
  <div class="bg__item bg__item--secl-row-3"></div>
  <!-- Third Left -->
  <div class="bg__item bg__item--thl-top"></div>
  <!-- Bottom Left -->
  <div class="bg__item bg__item--bl-circle"></div>
  <!-- Top Right -->
  <div class="bg__item bg__item--tr-row-1"></div>
  <div class="bg__item bg__item--tr-row-2"></div>
  <div class="bg__item bg__item--tr-row-circle"></div>
  <!-- Second Right -->
  <div class="bg__item bg__item--secr-row-1"></div>
  <div class="bg__item bg__item--secr-row-2"></div>
  <div class="bg__item bg__item--secr-row-3"></div>
  <!-- Third Right -->
  <div class="bg__item bg__item--thr-fig"></div>
  <!-- Bottom Right -->
  <div class="bg__item bg__item--br-fig"></div>
</article>
