<article class="bg">
  <!-- Top Left -->
  <div class="bg__item bg__item--tl"></div>
  <!-- Second Left -->
  <div class="bg__item bg__item--secl"></div>
  <!-- Third Left -->
  <div class="bg__item bg__item--thl"></div>
  <!-- Bottom Left -->
  <div class="bg__item bg__item--bl"></div>
  <!-- Top Right -->
  <div class="bg__item bg__item--tr"></div>
  <!-- Second Right -->
  <div class="bg__item bg__item--secr"></div>
  <!-- Third Right -->
  <div class="bg__item bg__item--thr"></div>
  <!-- Bottom Right -->
  <div class="bg__item bg__item--br"></div>
</article>

7 left 8 right
