<section class="hero hero-section">
  <div class="hero__container">
    <h1 class="hero__title">Інженерна, конструкторська та дизайнерська робота</h1>
    <ul class="hero-list">
      <li class="hero-list__item">
        <picture>
          <source
            media="(min-width:1444px)"
            srcset="./images/accent/accent-l.webp 1x, ./images/accent/accent-l@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width:1444px)"
            srcset="./images/accent/accent-l.jpg 1x, ./images/accent/accent-l@2x.jpg 2x"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/accent/accent-l-tab.webp 1x, ./images/accent/accent-l-tab@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/accent/accent-l-tab.jpg 1x, ./images/accent/accent-l-tab@2x.jpg 2x"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/accent/accent-l-mob.webp 1x, ./images/accent/accent-l-mob@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/accent/accent-l-mob.jpg 1x, ./images/accent/accent-l-mob@2x.jpg 2x"
          />
          <img src="./images/accent/accent-l.jpg" class="hero-img--left hero-img" alt=""/>
        </picture>
      </li>

      <li class="hero-list__item">
        <picture>
          <source
            media="(min-width:1444px)"
            srcset="./images/accent/accent-m.webp 1x, ./images/accent/accent-m@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width:1444px)"
            srcset="./images/accent/accent-m.jpg 1x, ./images/accent/accent-m@2x.jpg 2x"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/accent/accent-m-tab.webp 1x, ./images/accent/accent-m-tab@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/accent/accent-m-tab.jpg 1x, ./images/accent/accent-m-tab@2x.jpg 2x"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/accent/accent-m-mob.webp 1x, ./images/accent/accent-m-mob@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/accent/accent-m-mob.jpg 1x, ./images/accent/accent-m-mob@2x.jpg 2x"
          />
          <img src="./images/accent/accent-m.jpg" class="hero-img--around hero-img" alt="" />
        </picture>
      </li>
      <li class="hero-list__item">
        <picture>
          <source
            media="(min-width:1444px)"
            srcset="./images/accent/accent-r.webp 1x, ./images/accent/accent-r@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width:1444px)"
            srcset="./images/accent/accent-r.jpg 1x, ./images/accent/accent-r@2x.jpg 2x"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/accent/accent-r-tab.webp 1x, ./images/accent/accent-r-tab@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/accent/accent-r-tab.jpg 1x, ./images/accent/accent-r-tab@2x.jpg 2x"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/accent/accent-r-mob.webp 1x, ./images/accent/accent-r-mob@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/accent/accent-r-mob.jpg 1x, ./images/accent/accent-r-mob@2x.jpg 2x"
          />
          <img src="./images/accent/accent-r.jpg" class="hero-img--right hero-img" alt=""/>
        </picture>
      </li>
    </ul>

    <div class="hero-desc">
      <p class="hero-desc__text">Ми втілюємо ідеї в реальність</p>
    </div>
  </div>

  
  <!-- <img class="decor__tl" src="./images/accent/decor/round-tl.jpg" alt=""/>
  <img class="decor__bl" src="./images/accent/decor/round-bl.jpg" alt=""/>
  <img class="decor__tr" src="./images/accent/decor/corner-tr.jpg" alt=""/>
  <img class="decor__br" src="./images/accent/decor/round-half-br.jpg" alt=""/>

  <div>
    <a class="arrow__gallery" href="#gallery" title="arrow_down">
      <svg class="arrow__icon">
        <use href="./images/svg/sprites.svg#arrow-down"></use>
      </svg>
    </a>
  </div> -->
</section>
