<section class="hero">
  <div class="container">
    <h1 class="hero__title">Інженерна, конструкторська та дизайнерська робота</h1>
    <ul class="hero-list">
    <li class="hero-list_item">
      <picture>
        <source media="(min-width:1444px)" srcset="./images/accent/accent-l.webp 1x, ./images/accent/accent-l@2x.webp 2x" type="image/webp">
        <source media="(min-width:1444px)" srcset="./images/accent/accent-l.jpg 1x, ./images/accent/accent-l@2x.jpg 2x">
        <source media="(min-width:768px)" srcset="./images/accent/accent-l-tab.webp 1x, ./images/accent/accent-l-tab@2x.webp 2x" type="image/webp">
        <source media="(min-width:768px)" srcset="./images/accent/accent-l-tab.jpg 1x, ./images/accent/accent-l-tab@2x.jpg 2x">
        <source media="(min-width:320px)"srcset="./images/accent/accent-l-mob.webp 1x, ./images/accent/accent-l-mob@2x.webp 2x" type="image/webp">
        <source media="(min-width:320px)"srcset="./images/accent/accent-l-mob.jpg 1x, ./images/accent/accent-l-mob@2x.jpg 2x">
        <img src="./images/accent/accent-l.jpg" alt="">
      </picture>
    </li>
    <li class="hero-list_item">
      <picture>
        <source media="(min-width:1444px)" srcset="./images/accent/accent-m.webp 1x, ./images/accent/accent-m@2x.webp 2x" type="image/webp">
        <source media="(min-width:1444px)" srcset="./images/accent/accent-m.jpg 1x, ./images/accent/accent-m@2x.jpg 2x">
        <source media="(min-width:768px)" srcset="./images/accent/accent-m-tab.webp 1x, ./images/accent/accent-m-tab@2x.webp 2x" type="image/webp">
        <source media="(min-width:768px)" srcset="./images/accent/accent-m-tab.jpg 1x, ./images/accent/accent-m-tab@2x.jpg 2x">
        <source media="(min-width:320px)"srcset="./images/accent/accent-m-mob.webp 1x, ./images/accent/accent-m-mob@2x.webp 2x" type="image/webp">
        <source media="(min-width:320px)"srcset="./images/accent/accent-m-mob.jpg 1x, ./images/accent/accent-m-mob@2x.jpg 2x">
        <img src="./images/accent/accent-m.jpg" alt="">
      
      </picture>
    </li>
    <li class="hero-list_item">
      <picture>
        <source media="(min-width:1444px)" srcset="./images/accent/accent-r.webp 1x, ./images/accent/accent-r@2x.webp 2x" type="image/webp">
        <source media="(min-width:1444px)" srcset="./images/accent/accent-r.jpg 1x, ./images/accent/accent-r@2x.jpg 2x">
        <source media="(min-width:768px)" srcset="./images/accent/accent-r-tab.webp 1x, ./images/accent/accent-r-tab@2x.webp 2x" type="image/webp">
        <source media="(min-width:768px)" srcset="./images/accent/accent-r-tab.jpg 1x, ./images/accent/accent-r-tab@2x.jpg 2x">
        <source media="(min-width:320px)"srcset="./images/accent/accent-r-mob.webp 1x, ./images/accent/accent-r-mob@2x.webp 2x" type="image/webp">
        <source media="(min-width:320px)"srcset="./images/accent/accent-r-mob.jpg 1x, ./images/accent/accent-r-mob@2x.jpg 2x">
        <img src="./images/accent/accent-r.jpg" alt="">
      </picture>
    </li>
  </div>  
  <div class="hero-desc">
    <p class="hero-desc__text">Ми втілюємо ідеї в реальність</p>
  </div> 
  </section>
