<!-- Decor -->
<div class="decor">
  <!--Left Decor  -->
  <picture>
    <source
      media="(min-width:1444px)"
      srcset="./images/accent/decor/round-tl.webp 1x, ./images/accent/decor/round-tl@2x.webp 2x"
      type="image/webp"
    />
    <source
      media="(min-width:1444px)"
      srcset="./images/accent/decor/round-tl.jpg 1x, ./images/accent/decor/round-tl@2x.jpg 2x"
    />
    <source
      media="(min-width:768px)"
      srcset="
        ./images/accent/decor/round-tl-tab.webp    1x,
        ./images/accent/decor/round-tl-tab@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(min-width:768px)"
      srcset="
        ./images/accent/decor/round-tl-tab.jpg    1x,
        ./images/accent/decor/round-tl-tab@2x.jpg 2x
      "
    />
    <img class="decor__tl" src="./images/accent/decor/round-tl.jpg" alt="" />
  </picture>

  <picture>
    <source
      media="(min-width:1444px)"
      srcset="./images/accent/decor/round-bl.webp 1x, ./images/accent/decor/round-bl@2x.webp 2x"
      type="image/webp"
    />
    <source
      media="(min-width:1444px)"
      srcset="./images/accent/decor/round-bl.jpg 1x, ./images/accent/decor/round-bl@2x.jpg 2x"
    />
    <source
      media="(min-width:768px)"
      srcset="
        ./images/accent/decor/round-bl-tab.webp    1x,
        ./images/accent/decor/round-bl-tab@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(min-width:768px)"
      srcset="
        ./images/accent/decor/round-bl-tab.jpg    1x,
        ./images/accent/decor/round-bl-tab@2x.jpg 2x
      "
    />
    <img class="decor__bl" src="./images/accent/decor/round-bl.jpg" alt="" />
  </picture>

  <!-- Right Decor -->
  <picture>
    <source
      media="(min-width:1444px)"
      srcset="./images/accent/decor/corner-tr.webp 1x, ./images/accent/decor/corner-tr@2x.webp 2x"
      type="image/webp"
    />
    <source
      media="(min-width:1444px)"
      srcset="./images/accent/decor/corner-tr.jpg 1x, ./images/accent/decor/corner-tr@2x.jpg 2x"
    />
    <source
      media="(min-width:768px)"
      srcset="
        ./images/accent/decor/corner-tr-tab.webp    1x,
        ./images/accent/decor/corner-tr-tab@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(min-width:768px)"
      srcset="
        ./images/accent/decor/corner-tr-tab.jpg    1x,
        ./images/accent/decor/corner-tr-tab@2x.jpg 2x
      "
    />
    <img class="decor__tr" src="./images/accent/decor/corner-tr.jpg" alt="" />
  </picture>

  <picture>
    <source
      media="(min-width:1444px)"
      srcset="
        ./images/accent/decor/round-half-br.webp    1x,
        ./images/accent/decor/round-half-br@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(min-width:1444px)"
      srcset="
        ./images/accent/decor/round-half-br.jpg    1x,
        ./images/accent/decor/round-half-br@2x.jpg 2x
      "
    />
    <source
      media="(min-width:768px)"
      srcset="
        ./images/accent/decor/round-half-br-tab.webp    1x,
        ./images/accent/decor/round-half-br-tab@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(min-width:768px)"
      srcset="
        ./images/accent/decor/round-half-br-tab.jpg    1x,
        ./images/accent/decor/round-half-br-tab@2x.jpg 2x
      "
    />
    <img class="decor__br" src="./images/accent/decor/round-half-br.jpg" alt="" />
  </picture>
</div>

<!-- Arrow -->
<div class="arrow">
  <a class="arrow__box" href="#gallery" title="arrow_down">
    <svg class="arrow__icon">
      <use href="./images/svg/sprites.svg#arrow-down"></use>
    </svg>
  </a>
</div>

<!-- More photo decor -->
<div class="bg-image"></div>
