<section class="more-photos section">
  <div class="container more-photos__container">
    <h2 class="section__title more-photos__title">Більше фото</h2>
    <ul class="masonry">
      <li class="masonry__item">
        <a href="#" class="masonry__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/01-first.webp    1x,
                ./images/gallery/more/01-first@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/01-first.jpg    1x,
                ./images/gallery/more/01-first@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/01-first-tab.webp    1x,
                ./images/gallery/more/01-first@2x-tab.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/01-first-tab.jpg    1x,
                ./images/gallery/more/01-first@2x-tab.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 280px)"
              srcset="
                ./images/gallery/more/01-first-mob.webp    1x,
                ./images/gallery/more/01-first-mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 280px)"
              srcset="
                ./images/gallery/more/01-first-mob.jpg    1x,
                ./images/gallery/more/01-first-mob@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="masonry__img"
              src="./images/gallery/more/01-first-mob.jpg"
              alt="Дизайн високоякісного файлу 3d-моделі для 3d-принтера"
            />
          </picture>
        </a>
      </li>
      <li class="masonry__item">
        <a href="#" class="masonry__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/02-second.webp    1x,
                ./images/gallery/more/02-second@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/02-second.jpg    1x,
                ./images/gallery/more/02-second@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/02-second-tab.webp    1x,
                ./images/gallery/more/02-second-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/02-second-tab.jpg    1x,
                ./images/gallery/more/02-second-tab@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 280px)"
              srcset="
                ./images/gallery/more/02-second-mob.webp    1x,
                ./images/gallery/more/02-second-mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 280px)"
              srcset="
                ./images/gallery/more/02-second-mob.jpg    1x,
                ./images/gallery/more/02-second-mob@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="masonry__img"
              src="./images/gallery/more/02-second-mob.jpg"
              alt="Тривимірна архітектурна модель"
            />
          </picture>
        </a>
      </li>
      <li class="masonry__item">
        <a href="#" class="masonry__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/03-third.webp    1x,
                ./images/gallery/more/03-third@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/03-third.jpg    1x,
                ./images/gallery/more/03-third@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/03-third-tab.webp    1x,
                ./images/gallery/more/03-third-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/03-third-tab.jpg    1x,
                ./images/gallery/more/03-third-tab@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 280px)"
              srcset="
                ./images/gallery/more/03-third-mob.webp    1x,
                ./images/gallery/more/03-third-mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 280px)"
              srcset="
                ./images/gallery/more/03-third-mob.jpg    1x,
                ./images/gallery/more/03-third-mob@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="masonry__img"
              src="./images/gallery/more/03-third-mob.jpg"
              alt="Фотореалістична тривимірна модель"
            />
          </picture>
        </a>
      </li>
      <li class="masonry__item">
        <a href="#" class="masonry__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/04-forth.webp    1x,
                ./images/gallery/more/04-forth@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/04-forth.jpg    1x,
                ./images/gallery/more/04-forth@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/04-forth-tab.webp    1x,
                ./images/gallery/more/04-forth-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/04-forth-tab.jpg    1x,
                ./images/gallery/more/04-forth-tab@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img class="masonry__img" src="#" alt="Череп людини на 3d-принтері" />
          </picture>
        </a>
      </li>
      <li class="masonry__item">
        <a href="#" class="masonry__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/05-fifth.webp    1x,
                ./images/gallery/more/05-fifth@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/05-fifth.jpg    1x,
                ./images/gallery/more/05-fifth@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/05-fifth-tab.webp    1x,
                ./images/gallery/more/05-fifth-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/05-fifth-tab.jpg    1x,
                ./images/gallery/more/05-fifth-tab@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img class="masonry__img" src="#" alt="Тривимірна модель танка" />
          </picture>
        </a>
      </li>
      <li class="masonry__item">
        <a href="#" class="masonry__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/06-sixth.webp    1x,
                ./images/gallery/more/06-sixth@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/06-sixth.jpg    1x,
                ./images/gallery/more/06-sixth@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/06-sixth-tab.webp    1x,
                ./images/gallery/more/06-sixth-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/06-sixth-tab.jpg    1x,
                ./images/gallery/more/06-sixth-tab@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img class="masonry__img" src="#" alt="Дві настільні 3d-лампи" />
          </picture>
        </a>
      </li>
      <li class="masonry__item">
        <a href="#" class="masonry__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/07-seventh.webp    1x,
                ./images/gallery/more/07-seventh@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/07-seventh.jpg    1x,
                ./images/gallery/more/07-seventh@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/07-seventh-tab.webp    1x,
                ./images/gallery/more/07-seventh-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/07-seventh-tab.jpg    1x,
                ./images/gallery/more/07-seventh-tab@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img class="masonry__img" src="#" alt="Тривимірна модель автомобіля" />
          </picture>
        </a>
      </li>
      <li class="masonry__item">
        <a href="#" class="masonry__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/08-eighth.webp    1x,
                ./images/gallery/more/08-eighth@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/08-eighth.jpg    1x,
                ./images/gallery/more/08-eighth@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/08-eighth-tab.webp    1x,
                ./images/gallery/more/08-eighth-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/08-eighth-tab.jpg    1x,
                ./images/gallery/more/08-eighth-tab@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img class="masonry__img" src="#" alt="3d-модель вежі" />
          </picture>
        </a>
      </li>
      <li class="masonry__item">
        <a href="#" class="masonry__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/09-ninth.webp    1x,
                ./images/gallery/more/09-ninth@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/09-ninth.jpg    1x,
                ./images/gallery/more/09-ninth@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/09-ninth-tab.webp    1x,
                ./images/gallery/more/09-ninth-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/09-ninth-tab.jpg    1x,
                ./images/gallery/more/09-ninth-tab@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img class="masonry__img" src="#" alt="Настільний світильник з 3d-принтера" />
          </picture>
        </a>
      </li>
      <li class="masonry__item">
        <a href="#" class="masonry__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/10-tenth.webp    1x,
                ./images/gallery/more/10-tenth@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/10-tenth.jpg    1x,
                ./images/gallery/more/10-tenth@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/10-tenth-tab.webp    1x,
                ./images/gallery/more/10-tenth-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/10-tenth-tab.jpg    1x,
                ./images/gallery/more/10-tenth-tab@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img class="masonry__img" src="#" alt="Три світлодіодні 3d-лампи" />
          </picture>
        </a>
      </li>
      <li class="masonry__item">
        <a href="#" class="masonry__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/11-eleventh.webp    1x,
                ./images/gallery/more/11-eleventh@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/11-eleventh.jpg    1x,
                ./images/gallery/more/11-eleventh@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/11-eleventh-tab.webp    1x,
                ./images/gallery/more/11-eleventh-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/11-eleventh-tab.jpg    1x,
                ./images/gallery/more/11-eleventh-tab@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img class="masonry__img" src="#" alt="3d-модель Tesla Cybertruck" />
          </picture>
        </a>
      </li>
      <li class="masonry__item">
        <a href="#" class="masonry__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/12-twelfth.webp    1x,
                ./images/gallery/more/12-twelfth@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/gallery/more/12-twelfth.jpg    1x,
                ./images/gallery/more/12-twelfth@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/12-twelfth-tab.webp    1x,
                ./images/gallery/more/12-twelfth-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/more/12-twelfth-tab.jpg    1x,
                ./images/gallery/more/12-twelfth-tab@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img class="masonry__img" src="#" alt="Квіткові горщики з 3d-принтера" />
          </picture>
        </a>
      </li>
    </ul>
    <button type="button" class="load-more-button">
      <svg class="load-more-button__icon" width="30px" height="30px">
        <use href="./images/svg/sprites.svg#spinner"></use>
      </svg>
    </button>
  </div>
</section>
