    <!-- Друк -->

    <section class="services">
    <ul class="services__list list">
      <li class="services__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/we_create/posts/01-print.webp    1x,
              ./images/we_create/posts/01-print@2x.webp 2x"
            type="image/webp"/>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/we_create/posts/01-print.jpg    1x,
              ./images/we_create/posts/01-print@2x.jpg 2x"/>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/we_create/posts/01-print-tab.webp    1x, 
              ./images/we_create/posts/01-print-tab@2x.webp 2x"
            type="image/webp"/>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/we_create/posts/01-print-tab.jpg    1x,
              ./images/we_create/posts/01-print-tab@2x.jpg 2x"/>
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/we_create/posts/01-print-mob.webp    1x,
              ./images/we_create/posts/01-print-mob@2x.webp 2x"
            type="image/webp"/>
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/we_create/posts/01-print-mob.jpg    1x,
              ./images/we_create/posts/01-print-mob@2x.jpg 2x"/>
          <img src="#" alt="" width="280" height="386" />
        </picture>

        <p class="services__text">
          3D-друк - ми використовуємо FDM технологію друку. Вона представляє собою пошарове
          формування об'єкта за допомогою 3D принтера.
        </p>
        <p class="services__text">
          Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні:
          системах автоматизованого проектування.
        </p>
        <p class="services__text">
          3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві і
          багатьох інших сфер.
        </p>
        <button class="make-order" type="submit">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
      </li>

      <!-- Моделювання -->

      <li class="services__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="./images/we_create/posts/02-modeling.webp    1x, ./images/we_create/posts/02-modeling@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/we_create/posts/02-modeling.jpg    1x,
              ./images/we_create/posts/02-modeling@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/we_create/posts/02-modeling-tab.webp    1x,
              ./images/we_create/posts/02-modeling-tab@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/we_create/posts/02-modeling-tab.jpg    1x,
              ./images/we_create/posts/02-modeling-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/we_create/posts/02-modeling-mob.webp    1x,
              ./images/we_create/posts/02-modeling-mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/we_create/posts/02-modeling-mob.jpg    1x,
              ./images/we_create/posts/02-modeling-mob@2x.jpg 2x
            "
          />
          <img src="#" alt="" width="280" height="386" />
        </picture>

        <p class="services__text">
          3D-моделювання - це процес розробки математичного уявлення будь-якої поверхні об'єкта в
          трьох вимірах за допомогою спеціалізованого програмного забезпечення.
        </p>
        <p class="services__text">
          Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
        </p>
        <p class="services__text">
          Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить
          ваші потреби.
        </p>
        <button class="make-order" type="submit">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
      </li>

      <!-- Сканування -->

      <li class="services__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/we_create/posts/03-scanning.webp    1x,
              ./images/we_create/posts/03-scanning@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/we_create/posts/03-scanning.jpg    1x,
              ./images/we_create/posts/03-scanning@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/we_create/posts/03-scanning-tab.webp    1x,
              ./images/we_create/posts/03-scanning-tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/we_create/posts/03-scanning-tab.jpg    1x,
              ./images/we_create/posts/03-scanning-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/we_create/posts/03-scanning-mob.webp    1x,
              ./images/we_create/posts/03-scanning-mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/we_create/posts/03-scanning-mob.jpg    1x,
              ./images/we_create/posts/03-scanning-mob@2x.jpg 2x
            "
          />
          <img src="#" alt="" width="280" height="386" />
        </picture>

        <p class="services__text">
          3D-сканування - зняття даних, шляхом аналізу форми предмета і на основі отриманих даних
          створення її 3D-моделі.
        </p>
        <p class="services__text">
          Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для візуалізації
          в цифровому вигляді, так і 3D-модель для подальшого її друку на 3D-принтері.
        </p>
        <button class="make-order" type="submit">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
      </li>
    </ul>
  </div>
</section>