<section class="printing-hero section">
  <div class="container printing-hero__container">
    <h1 class="printing-hero__title section__title">МИ СТВОРЮЕМО</h1>
    <ul class="printing-hero__list list">
      <div class="printing-hero__border printing-hero__border--prototype">
        <li class="printing-hero__item">
          <p class="printing-hero__text">ПРОТОТИПИ</p>
        </li>
      </div>
      <div class="printing-hero__border printing-hero__border--layout">
        <li class="printing-hero__item">
          <p class="printing-hero__text">МАКЕТИ</p>
        </li>
      </div>
      <div class="printing-hero__border printing-hero__border--decor">
        <li class="printing-hero__item">
          <p class="printing-hero__text">ДЕКОР</p>
        </li>
      </div>
      <div class="printing-hero__border printing-hero__border--design">
        <li class="printing-hero__item">
          <p class="printing-hero__text">КОРПОРАТИВНИЙ ДИЗАЙН</p>
        </li>
      </div>
    </ul>
  </div>
</section>
