<section class="printing-hero section">
  <div class="conteiner">
    <h2 class="printing-hero__title">МИ СТВОРЮЕМО</h2>
    <div class="printing-hero__conteiner">
      <ul class="printing-hero__list list">
        <li class="printing-hero__item">
          <p class="printing-hero__text">ПРОТОТИПИ</p>
        </li>
        <li class="printing-hero__item">
          <p class="printing-hero__text">МАКЕТИ</p>
        </li>
        <li class="printing-hero__item">
          <p class="printing-hero__text">ДЕКОР</p>
        </li>
        <li class="printing-hero__item">
          <p class="printing-hero__text">КОРПОРАТИВНИЙ ДИЗАЙН</p>
        </li>
      </ul>
    </div>
    </section>