<div class="bg">
  <!-- Top Left -->
  <div class="bg__item bg__item--1"></div>
  <!-- Top Tab Deskt Right-->
  <div class="bg__item bg__item--2"></div>
  <!-- 2nd Mob Left - 2nd Tab-Deskt Right -->
  <div class="bg__item bg__item--3"></div>
  <!-- Circle -->
  <div class="bg__item bg__item--4"></div>
  <!-- 3rd Mob Left -->
  <div class="bg__item bg__item--5"></div>
  <!-- Bottom Mob Right -->
  <div class="bg__item bg__item--6"></div>
  <!-- Bottom Mob Left -->
  <div class="bg__item bg__item--7"></div>
  <!-- bottom Deskt Circle -->
  <div class="bg__item bg__item--8"></div>
</div>
