<section class="modelling-hero section">
    <div class="container modelling-hero__container">
    <h1 class="modelling-hero__title section__title">
        3D МОДЕЛЮВАННЯ
    </h1>
    <div class="modelling-hero__content">
    <p class="modelling-hero__text modelling-text">
        Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде створюватися шляхом 3D друку,
        обробки заготовки на ЧПУ станках або іншими виробничими методами, то до моделі преставляеться ряд інженерних вимог які
        повинен враховувати дизайнер при розробці моделі.
    </p>
    <p class= "modelling-hero__text  modelling-text">
        Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для її створення. Ми маємо
        широкий спектр інструментів для вдоволення будь-якої вашої задачі.
    </p>
    </div>
    </div>
</section>