<section class="modelling-methods section">
    <div class="container modelling-methods__container">
    <h2 class="modelling-methods__title modelling-title">
        Способи створення моделі:
    </h2>
    <ul class="modelling-methods__list">
        <li class="modelling-methods__item modelling-text">3D сканування</li>
        <li class="modelling-methods__item modelling-text">На основі фотографій з доданими розмірами</li>
        <li class="modelling-methods__item modelling-text">За ескізами з розмірами</li>
        <li class="modelling-methods__item modelling-text">За вашим кресленням</li>
        <li class="modelling-methods__item modelling-text">По вже існуючому прототипу шляхом зняття розмірів</li>
    </ul>
    </div>
</section>