<section class="modelling-create section">
    <div class="container modelling-create__container">
    <h2 class="modelling-create__title modelling-title">
        Ми створюємо фотореалістичні зображення моделей
    </h2>
    <ul class="modelling-create__list">
        <li class="modelling-create__item">
            <picture>
                <source media="(min-width: 1440px)"
                    srcset="./images/modeling/photorealistic/01-item.webp 1x, ./images/modeling/photorealistic/01-item@2x.webp 2x"
                    type="image/webp">
                <source media="(min-width: 1440px)"
                    srcset="./images/modeling/photorealistic/01-item.jpg 1x, ./images/modeling/photorealistic/01-item@2x.jpg 2x">
                
                <source media="(min-width: 768px)"
                    srcset="./images/modeling/photorealistic/01-item-tab.webp 1x, ./images/modeling/photorealistic/01-item-tab@2x.webp 2x"
                    type="image/webp">
                
                <source media="(min-width: 768px)"
                    srcset="./images/modeling/photorealistic/01-item-tab.jpg 1x, ./images/modeling/photorealistic/01-item-tab@2x.jpg 2x">
                
                <source media="(min-width: 280px)"
                    srcset="./images/modeling/photorealistic/01-item-mob.webp 1x, ./images/modeling/photorealistic/01-item-mob@2x.webp 2x"
                    type="image/webp">
                
                <source media="(min-width: 280px)"
                    srcset="./images/modeling/photorealistic/01-item-mob.jpg 1x, ./images/modeling/photorealistic/01-item-mob@2x.jpg 2x">
                <img class="modelling-list__image" src="#" alt="крепіжний хомут">
            </picture>
        </li>
        <li class="modelling-create__item">
            <picture>
                <source media="(min-width: 1440px)"
                    srcset="./images/modeling/photorealistic/02-item.webp 1x, ./images/modeling/photorealistic/02-item@2x.webp 2x"
                    type="image/webp">
                <source media="(min-width: 1440px)"
                    srcset="./images/modeling/photorealistic/02-item.jpg 1x, ./images/modeling/photorealistic/02-item@2x.jpg 2x">
            
                <source media="(min-width: 768px)"
                    srcset="./images/modeling/photorealistic/02-item-tab.webp 1x, ./images/modeling/photorealistic/02-item-tab@2x.webp 2x"
                    type="image/webp">
            
                <source media="(min-width: 768px)"
                    srcset="./images/modeling/photorealistic/02-item-tab.jpg 1x, ./images/modeling/photorealistic/02-item-tab@2x.jpg 2x">
            
                <source media="(min-width: 280px)"
                    srcset="./images/modeling/photorealistic/02-item-mob.webp 1x, ./images/modeling/photorealistic/02-item-mob@2x.webp 2x"
                    type="image/webp">
            
                <source media="(min-width: 280px)"
                    srcset="./images/modeling/photorealistic/02-item-mob.jpg 1x, ./images/modeling/photorealistic/02-item-mob@2x.jpg 2x">
                <img class="modelling-list__image" src="#" alt="электронний штангенциркуль">
            </picture>
        </li>
        <li class="modelling-create__item">
            <picture>
                <source media="(min-width: 1440px)"
                    srcset="./images/modeling/photorealistic/03-item.webp 1x, ./images/modeling/photorealistic/03-item@2x.webp 2x"
                    type="image/webp">
                <source media="(min-width: 1440px)"
                    srcset="./images/modeling/photorealistic/03-item.jpg 1x, ./images/modeling/photorealistic/03-item@2x.jpg 2x">
            
                <source media="(min-width: 768px)"
                    srcset="./images/modeling/photorealistic/03-item-tab.webp 1x, ./images/modeling/photorealistic/03-item-tab@2x.webp 2x"
                    type="image/webp">
            
                <source media="(min-width: 768px)"
                    srcset="./images/modeling/photorealistic/03-item-tab.jpg 1x, ./images/modeling/photorealistic/03-item-tab@2x.jpg 2x">
            
                <source media="(min-width: 280px)"
                    srcset="./images/modeling/photorealistic/03-item-mob.webp 1x, ./images/modeling/photorealistic/03-item-mob@2x.webp 2x"
                    type="image/webp">
            
                <source media="(min-width: 280px)"
                    srcset="./images/modeling/photorealistic/03-item-mob.jpg 1x, ./images/modeling/photorealistic/03-item-mob@2x.jpg 2x">
                <img class="modelling-list__image" src="#" alt="плата з мікросхемою">
            </picture>
        </li>
        <li class="modelling-create__item">
            <picture>
                <source media="(min-width: 1440px)"
                    srcset="./images/modeling/photorealistic/04-item.webp 1x, ./images/modeling/photorealistic/04-item@2x.webp 2x"
                    type="image/webp">
                <source media="(min-width: 1440px)"
                    srcset="./images/modeling/photorealistic/04-item.jpg 1x, ./images/modeling/photorealistic/04-item@2x.jpg 2x">
            
                <source media="(min-width: 768px)"
                    srcset="./images/modeling/photorealistic/04-item-tab.webp 1x, ./images/modeling/photorealistic/04-item-tab@2x.webp 2x"
                    type="image/webp">
            
                <source media="(min-width: 768px)"
                    srcset="./images/modeling/photorealistic/04-item-tab.jpg 1x, ./images/modeling/photorealistic/04-item-tab@2x.jpg 2x">
            
                <source media="(min-width: 280px)"
                    srcset="./images/modeling/photorealistic/04-item-mob.webp 1x, ./images/modeling/photorealistic/04-item-mob@2x.webp 2x"
                    type="image/webp">
            
                <source media="(min-width: 280px)"
                    srcset="./images/modeling/photorealistic/04-item-mob.jpg 1x, ./images/modeling/photorealistic/04-item-mob@2x.jpg 2x">
                <img class="modelling-list__image" src="#" alt="ротор мотора">
            </picture>
        </li>
    </ul>
    <a href="./take_order.html" class="order-button button">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
    </div>
</section>