<section class="modelling-create section">
    <div class="container modelling-create__container">
    <h2 class="modelling-create__title modelling-title">
        МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ
    </h2>
    <ul class="modelling-create__list">
        <li class="modelling-create__item">pic1</li>
        <li class="modelling-create__item">pic2</li>
        <li class="modelling-create__item">pic3</li>
        <li class="modelling-create__item">pic4</li>
    </ul>
    <a href="" class="order-button">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
    </div>
</section>